## CHALLENGE 1 Who Have Published What At Where?

In [1]:
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="/Users/JCasado/Desktop/IRONHACK/ironhack_service_account_big_query.json"

In [ ]:
from google.cloud import bigquery

In [ ]:
client = bigquery.Client()
#nos deja hacer la conexion

In [ ]:
# Figure out what titles each author has published at which publishers

titles_sql = '''SELECT 

    pauthors.au_id AS AUTHOR_ID,
    pauthors.au_lname AS LAST_NAME,
    pauthors.au_fname AS FIRST_NAME,
    ptitles.title AS TITLE, 
    publi.pub_name AS PUBLISHER
    
FROM 
    `ironhack-data-analytics-265219.publications.authors` AS pauthors

JOIN
    `publications.titleauthor` AS ptauthor
ON
    pauthors.au_id = ptauthor.au_id

JOIN    
    `publications.titles` AS ptitles
ON
    ptauthor.title_id = ptitles.title_id

JOIN    
    `publications.publishers` AS publi
ON   
    ptitles.pub_id = publi.pub_id
'''

In [ ]:
query_job = client.query(query=titles_sql)

In [ ]:
query_job.to_dataframe()

## CHALLENGE 2 Who Have Published How Many At Where?

In [ ]:
titles2_sql = '''SELECT 

    pauthors.au_id AS AUTHOR_ID,
    pauthors.au_lname AS LAST_NAME,
    pauthors.au_fname AS FIRST_NAME,
    publi.pub_name AS PUBLISHER,
    COUNT(*) AS TITLE_COUNT
    
FROM 
    `ironhack-data-analytics-265219.publications.authors` AS pauthors

JOIN
    `publications.titleauthor` AS ptauthor
ON
    pauthors.au_id = ptauthor.au_id


JOIN    
    `publications.titles` AS ptitles
ON
    ptauthor.title_id = ptitles.title_id


JOIN    
    `publications.publishers` AS publi
ON   
    ptitles.pub_id = publi.pub_id
    
GROUP BY 1,2,3,4
'''

In [ ]:
query_job = client.query(query=titles2_sql)

In [ ]:
query_job.to_dataframe()

## Challenge 3 - Best Selling Authors

In [ ]:
best_sql = '''SELECT

    pauthors.au_id AS AUTHOR_ID,
    pauthors.au_lname AS LAST_NAME,
    pauthors.au_fname AS FIRST_NAME,
    SUM(qty) AS TOTAL
    
FROM 
    `ironhack-data-analytics-265219.publications.authors` AS pauthors

JOIN
    `publications.titleauthor` AS ptauthor
ON
    pauthors.au_id = ptauthor.au_id

JOIN    
    `publications.titles` AS ptitles
ON
    ptauthor.title_id = ptitles.title_id

JOIN 
    `publications.sales` AS sales
ON
    ptauthor.title_id = sales.title_id
    
GROUP BY 1,2,3
    
ORDER BY
    TOTAL DESC
    
LIMIT 3    

'''

In [ ]:
query_job = client.query(query=best_sql)

In [ ]:
query_job.to_dataframe()

## Challenge 4 - Best Selling Authors Ranking

In [ ]:
rank_sql = '''SELECT 

    pauthors.au_id AS AUTHOR_ID,
    pauthors.au_lname AS LAST_NAME,
    pauthors.au_fname AS FIRST_NAME,
    IFNULL(SUM(qty),0) AS TOTAL
    
FROM 
    `ironhack-data-analytics-265219.publications.authors` AS pauthors

LEFT JOIN
    `publications.titleauthor` AS ptauthor

ON
    pauthors.au_id = ptauthor.au_id

LEFT JOIN    
    `publications.titles` AS ptitles
ON
    ptauthor.title_id = ptitles.title_id

LEFT JOIN 
    `publications.sales` AS sales
ON
    ptauthor.title_id = sales.title_id

    
GROUP BY 1,2,3
    
ORDER BY
    TOTAL DESC
'''

In [ ]:
query_job = client.query(query=rank_sql)

In [ ]:
query_job.to_dataframe()

## Bonus Challenge - Most Profiting Authors¶

In [ ]:
# no time!! lo haré este domingo porque he tenido que rehacer este lab ya que los query los tenia en un libro 
#sin ejecutar y no se me guardaron los challenge 3,4 y me he quedado sin tiempo