In [4]:
#Import os
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="./ironhack_service_account_big_query.json"
from google.cloud import bigquery
client = bigquery.Client()

# Challenge 1 - Who Has Published What At Where?

In [5]:
publisher = '''
    SELECT
        au.au_id AS Author_ID, #from AU
        au_fname AS First_Name,#from AU
        au_lname AS Last_Name, #from AU
        title AS Title_of_Book, #from titles
        pub_name AS Publisher, #from publishers (pub_id frm titles)
    FROM `ironhack-data-analytics-265219.publications.titleauthor` AS tau
    JOIN publications.authors AS au
    ON tau.au_id = au.au_id
    JOIN publications.titles 
    ON tau.title_id = titles.title_id
    JOIN publications.publishers AS pub
    ON titles.pub_id = pub.pub_id
   ;'''

In [6]:
#publisher query run for query
query_job = client.query(query = publisher)
query_job.to_dataframe()

,Author_ID,First_Name,Last_Name,Title_of_Book,Publisher
0,899-46-2035,Anne,Ringer,Is Anger the Enemy?,New Moon Books
1,846-92-7186,Sheryl,Hunter,Secrets of Silicon Valley,Algodata Infosystems
2,213-46-8915,Marjorie,Green,The Busy Executive's Database Guide,Algodata Infosystems
3,267-41-2394,Michael,O'Leary,Cooking with Computers: Surreptitious Balance ...,Algodata Infosystems
4,267-41-2394,Michael,O'Leary,"Sushi, Anyone?",Binnet & Hardley
5,899-46-2035,Anne,Ringer,The Gourmet Microwave,Binnet & Hardley
6,724-80-9391,Stearns,MacFeather,Computer Phobic AND Non-Phobic Individuals: Be...,Binnet & Hardley
7,756-30-7391,Livia,Karsen,Computer Phobic AND Non-Phobic Individuals: Be...,Binnet & Hardley
8,722-51-5454,Michel,DeFrance,The Gourmet Microwave,Binnet & Hardley
9,724-80-9391,Stearns,MacFeather,Cooking with Computers: Surreptitious Balance ...,Algodata Infosystems
10,409-56-7008,Abraham,Bennet,The Busy Executive's Database Guide,Algodata Infosystems
11,427-17-2319,Ann,Dull,Secrets of Silicon Valley,Algodata Infosystems
12,998-72-3567,Albert,Ringer,Is Anger the Enemy?,New Moon Books
13,672-71-3249,Akiko,Yokomoto,"Sushi, Anyone?",Binnet & Hardley
14,486-29-1786,Charlene,Locksley,Emotional Security: A New Algorithm,New Moon Books
15,648-92-1872,Reginald,Blotchet-Halls,Fifty Years in Buckingham Palace Kitchens,Binnet & Hardley
16,998-72-3567,Albert,Ringer,Life Without Fear,New Moon Books
17,238-95-7766,Cheryl,Carson,But Is It User Friendly?,Algodata Infosystems
18,486-29-1786,Charlene,Locksley,Net Etiquette,Algodata Infosystems
19,807-91-6654,Sylvia,Panteley,"Onions, Leeks, and Garlic: Cooking Secrets of ...",Binnet & Hardley
20,712-45-1867,Innes,del Castillo,Silicon Valley Gastronomic Treats,Binnet & Hardley
21,172-32-1176,Johnson,White,Prolonged Data Deprivation: Four Case Studies,New Moon Books
22,213-46-8915,Marjorie,Green,You Can Combat Computer Stress!,New Moon Books
23,274-80-9391,Dean,Straight,Straight Talk About Computers,Algodata Infosystems
24,472-27-2349,Burt,Gringlesby,"Sushi, Anyone?",Binnet & Hardley

# Challenge 2 - Who Has Published How Many At Where?

In [4]:
title_count = '''
    SELECT
        tau.au_id AS Author_ID, #from AU
        au_fname AS First_Name,#from AU
        au_lname AS Last_Name, #from AU
        title AS Title_of_Book, #from titles
        pub_name AS Publisher, #from publishers (pub_id frm titles)
        COUNT(DISTINCT title) AS Title_Count,
        
    FROM `ironhack-data-analytics-265219.publications.titleauthor` AS tau
    JOIN publications.authors AS au
    ON tau.au_id = au.au_id
    JOIN publications.titles 
    ON tau.title_id = titles.title_id
    JOIN publications.publishers AS pub
    ON titles.pub_id = pub.pub_id
    GROUP BY
        Author_ID,
        First_Name,
        Last_Name,
        Title_of_Book,
        Publisher
   ;'''

In [5]:
#title_count query run for query
query_job = client.query(query = title_count)
query_job.to_dataframe()

,Author_ID,First_Name,Last_Name,Title_of_Book,Publisher,Title_Count
0,899-46-2035,Anne,Ringer,Is Anger the Enemy?,New Moon Books,1
1,846-92-7186,Sheryl,Hunter,Secrets of Silicon Valley,Algodata Infosystems,1
2,213-46-8915,Marjorie,Green,The Busy Executive's Database Guide,Algodata Infosystems,1
3,267-41-2394,Michael,O'Leary,Cooking with Computers: Surreptitious Balance ...,Algodata Infosystems,1
4,267-41-2394,Michael,O'Leary,"Sushi, Anyone?",Binnet & Hardley,1
5,899-46-2035,Anne,Ringer,The Gourmet Microwave,Binnet & Hardley,1
6,724-80-9391,Stearns,MacFeather,Computer Phobic AND Non-Phobic Individuals: Be...,Binnet & Hardley,1
7,756-30-7391,Livia,Karsen,Computer Phobic AND Non-Phobic Individuals: Be...,Binnet & Hardley,1
8,722-51-5454,Michel,DeFrance,The Gourmet Microwave,Binnet & Hardley,1
9,724-80-9391,Stearns,MacFeather,Cooking with Computers: Surreptitious Balance ...,Algodata Infosystems,1
10,409-56-7008,Abraham,Bennet,The Busy Executive's Database Guide,Algodata Infosystems,1
11,427-17-2319,Ann,Dull,Secrets of Silicon Valley,Algodata Infosystems,1
12,998-72-3567,Albert,Ringer,Is Anger the Enemy?,New Moon Books,1
13,672-71-3249,Akiko,Yokomoto,"Sushi, Anyone?",Binnet & Hardley,1
14,486-29-1786,Charlene,Locksley,Emotional Security: A New Algorithm,New Moon Books,1
15,648-92-1872,Reginald,Blotchet-Halls,Fifty Years in Buckingham Palace Kitchens,Binnet & Hardley,1
16,998-72-3567,Albert,Ringer,Life Without Fear,New Moon Books,1
17,238-95-7766,Cheryl,Carson,But Is It User Friendly?,Algodata Infosystems,1
18,486-29-1786,Charlene,Locksley,Net Etiquette,Algodata Infosystems,1
19,807-91-6654,Sylvia,Panteley,"Onions, Leeks, and Garlic: Cooking Secrets of ...",Binnet & Hardley,1
20,712-45-1867,Innes,del Castillo,Silicon Valley Gastronomic Treats,Binnet & Hardley,1
21,172-32-1176,Johnson,White,Prolonged Data Deprivation: Four Case Studies,New Moon Books,1
22,213-46-8915,Marjorie,Green,You Can Combat Computer Stress!,New Moon Books,1
23,274-80-9391,Dean,Straight,Straight Talk About Computers,Algodata Infosystems,1
24,472-27-2349,Burt,Gringlesby,"Sushi, Anyone?",Binnet & Hardley,1

# Challenge 3 - Best Selling Authors

In [6]:
top_3 = '''
    SELECT
        tau.au_id AS Author_ID, #from AU
        au_fname AS First_Name,#from AU
        au_lname AS Last_Name, #from AU
        SUM(qty) AS Sold_Books,     
    FROM `ironhack-data-analytics-265219.publications.titleauthor` AS tau
    JOIN publications.authors AS au
    ON tau.au_id = au.au_id
    JOIN publications.sales 
    ON tau.title_id = sales.title_id
    GROUP BY
        Author_ID,
        First_Name,
        Last_Name
    ORDER BY
        Sold_Books DESC
    LIMIT 3
   ;'''

In [7]:
#top_3 run for query
query_job = client.query(query = top_3)
query_job.to_dataframe()

     Author_ID First_Name Last_Name Sold_Books
0  899-46-2035       Anne    Ringer        148
1  998-72-3567     Albert    Ringer        133
2  213-46-8915   Marjorie     Green         50

# Challenge 4 - Best Selling Authors Ranking

In [8]:
authors_ranking = '''
    SELECT
        COALESCE(tau.au_id, "No ID") AS Author_ID, #from AU
        au_fname AS First_Name,#from AU
        au_lname AS Last_Name, #from AU
        COALESCE(SUM(qty), 0) AS Sold_Books,     
    FROM `ironhack-data-analytics-265219.publications.titleauthor` AS tau
    RIGHT JOIN publications.authors AS au
    ON tau.au_id = au.au_id
    LEFT JOIN publications.sales 
    ON tau.title_id = sales.title_id
    GROUP BY
        Author_ID,
        First_Name,
        Last_Name
    ORDER BY
        Sold_Books DESC
   ;'''

In [9]:
#authors_ranking run for query
query_job = client.query(query = authors_ranking)
query_job.to_dataframe()

      Author_ID   First_Name       Last_Name Sold_Books
0   899-46-2035         Anne          Ringer        148
1   998-72-3567       Albert          Ringer        133
2   846-92-7186       Sheryl          Hunter         50
3   427-17-2319          Ann            Dull         50
4   213-46-8915     Marjorie           Green         50
5   724-80-9391      Stearns      MacFeather         45
6   267-41-2394      Michael         O'Leary         45
7   807-91-6654       Sylvia        Panteley         40
8   722-51-5454       Michel        DeFrance         40
9   238-95-7766       Cheryl          Carson         30
10  486-29-1786     Charlene        Locksley         25
11  672-71-3249        Akiko        Yokomoto         20
12  756-30-7391        Livia          Karsen         20
13  472-27-2349         Burt      Gringlesby         20
14  648-92-1872     Reginald  Blotchet-Halls         20
15  172-32-1176      Johnson           White         15
16  274-80-9391         Dean        Straight         15
17  409-56-7008      Abraham          Bennet         15
18  712-45-1867        Innes    del Castillo         10
19        No ID  Morningstar          Greene          0
20        No ID      Meander           Smith          0
21        No ID         Dirk        Stringer          0
22        No ID      Heather        McBadden          0

# Bonus Challenge - Most Profiting Authors

In [10]:
most_profiting = '''
    SELECT
        COALESCE(tau.au_id, "No ID") AS Author_ID #from AU
        ,au_fname AS First_Name #from AU
        ,au_lname AS Last_Name #from AU
        #,advance * (royaltyper/100) AS Advances #from Advance from Titles, royaltyper from AU   
        #,((price*qty)*(royalty/100)) * (royaltyper/100) AS Royalties #price from titles, qty from sales
        ,SUM(advance + ((price*qty)*(royalty/100)) * (royaltyper/100)) AS Total
    FROM `ironhack-data-analytics-265219.publications.titleauthor` AS tau
    RIGHT JOIN publications.authors AS au
    ON tau.au_id = au.au_id
    JOIN publications.titles
    ON tau.title_id = titles.title_id
    JOIN publications.sales
    ON tau.title_id = sales.title_id
   GROUP BY
        Author_ID
        ,First_Name
        ,Last_Name
        ,Advance
        ,Royaltyper
        ,Royalty
    ORDER BY
        Total DESC
    LIMIT 3
   ;'''

#SUM(advance + ((price*qty)*(royalty/100))) * (royaltyper/100)

In [11]:
#most_profiting run for query
query_job = client.query(query = most_profiting)
query_job.to_dataframe()

     Author_ID First_Name Last_Name      Total
0  722-51-5454     Michel  DeFrance  30021.528
1  899-46-2035       Anne    Ringer  30007.176
2  213-46-8915   Marjorie     Green  10150.116