In [1]:
## Primero de todo miramos qu√© tenemos en la tabla

In [2]:
%load_ext sql

In [3]:
%sql sqlite:///publications.db

'Connected: @publications.db'

In [4]:
%%sql

select tbl_name
from sqlite_master
where type = "table"

 * sqlite:///publications.db
Done.

[('authors',),
 ('discounts',),
 ('employee',),
 ('jobs',),
 ('pub_info',),
 ('publishers',),
 ('roysched',),
 ('sales',),
 ('stores',),
 ('titleauthor',),
 ('titles',)]

In [5]:
%%sql

select *
from titleauthor

 * sqlite:///publications.db
Done.

[('172-32-1176', 'PS3333', 1, 100),
 ('213-46-8915', 'BU1032', 2, 40),
 ('213-46-8915', 'BU2075', 1, 100),
 ('238-95-7766', 'PC1035', 1, 100),
 ('267-41-2394', 'BU1111', 2, 40),
 ('267-41-2394', 'TC7777', 2, 30),
 ('274-80-9391', 'BU7832', 1, 100),
 ('409-56-7008', 'BU1032', 1, 60),
 ('427-17-2319', 'PC8888', 1, 50),
 ('472-27-2349', 'TC7777', 3, 30),
 ('486-29-1786', 'PC9999', 1, 100),
 ('486-29-1786', 'PS7777', 1, 100),
 ('648-92-1872', 'TC4203', 1, 100),
 ('672-71-3249', 'TC7777', 1, 40),
 ('712-45-1867', 'MC2222', 1, 100),
 ('722-51-5454', 'MC3021', 1, 75),
 ('724-80-9391', 'BU1111', 1, 60),
 ('724-80-9391', 'PS1372', 2, 25),
 ('756-30-7391', 'PS1372', 1, 75),
 ('807-91-6654', 'TC3218', 1, 100),
 ('846-92-7186', 'PC8888', 2, 50),
 ('899-46-2035', 'MC3021', 2, 25),
 ('899-46-2035', 'PS2091', 2, 50),
 ('998-72-3567', 'PS2091', 1, 50),
 ('998-72-3567', 'PS2106', 1, 100)]

In [6]:
%%sql
select * 
from publishers

 * sqlite:///publications.db
Done.

[('0736', 'New Moon Books', 'Boston', 'MA', 'USA'),
 ('0877', 'Binnet & Hardley', 'Washington', 'DC', 'USA'),
 ('1389', 'Algodata Infosystems', 'Berkeley', 'CA', 'USA'),
 ('1622', 'Five Lakes Publishing', 'Chicago', 'IL', 'USA'),
 ('1756', 'Ramona Publishers', 'Dallas', 'TX', 'USA'),
 ('9901', 'GGG&G', 'M\x81nchen', None, 'Germany'),
 ('9952', 'Scootney Books', 'New York', 'NY', 'USA'),
 ('9999', 'Lucerne Publishing', 'Paris', None, 'France')]

In [7]:
%%sql
select * 
from authors

 * sqlite:///publications.db
Done.

[('172-32-1176', 'White', 'Johnson', '408 496-7223', '10932 Bigge Rd.', 'Menlo Park', 'CA', '94025', 1),
 ('213-46-8915', 'Green', 'Marjorie', '415 986-7020', '309 63rd St. #411', 'Oakland', 'CA', '94618', 1),
 ('238-95-7766', 'Carson', 'Cheryl', '415 548-7723', '589 Darwin Ln.', 'Berkeley', 'CA', '94705', 1),
 ('267-41-2394', "O'Leary", 'Michael', '408 286-2428', '22 Cleveland Av. #14', 'San Jose', 'CA', '95128', 1),
 ('274-80-9391', 'Straight', 'Dean', '415 834-2919', '5420 College Av.', 'Oakland', 'CA', '94609', 1),
 ('341-22-1782', 'Smith', 'Meander', '913 843-0462', '10 Mississippi Dr.', 'Lawrence', 'KS', '66044', 0),
 ('409-56-7008', 'Bennet', 'Abraham', '415 658-9932', '6223 Bateman St.', 'Berkeley', 'CA', '94705', 1),
 ('427-17-2319', 'Dull', 'Ann', '415 836-7128', '3410 Blonde St.', 'Palo Alto', 'CA', '94301', 1),
 ('472-27-2349', 'Gringlesby', 'Burt', '707 938-6445', 'PO Box 792', 'Covelo', 'CA', '95428', 1),
 ('486-29-1786', 'Locksley', 'Charlene', '415 585-4620', '18 Broadway Av.', 'San Francisco', 'CA', '94130', 1),
 ('527-72-3246', 'Greene', 'Morningstar', '615 297-2723', '22 Graybar House Rd.', 'Nashville', 'TN', '37215', 0),
 ('648-92-1872', 'Blotchet-Halls', 'Reginald', '503 745-6402', '55 Hillsdale Bl.', 'Corvallis', 'OR', '97330', 1),
 ('672-71-3249', 'Yokomoto', 'Akiko', '415 935-4228', '3 Silver Ct.', 'Walnut Creek', 'CA', '94595', 1),
 ('712-45-1867', 'del Castillo', 'Innes', '615 996-8275', '2286 Cram Pl. #86', 'Ann Arbor', 'MI', '48105', 1),
 ('722-51-5454', 'DeFrance', 'Michel', '219 547-9982', '3 Balding Pl.', 'Gary', 'IN', '46403', 1),
 ('724-08-9931', 'Stringer', 'Dirk', '415 843-2991', '5420 Telegraph Av.', 'Oakland', 'CA', '94609', 0),
 ('724-80-9391', 'MacFeather', 'Stearns', '415 354-7128', '44 Upland Hts.', 'Oakland', 'CA', '94612', 1),
 ('756-30-7391', 'Karsen', 'Livia', '415 534-9219', '5720 McAuley St.', 'Oakland', 'CA', '94609', 1),
 ('807-91-6654', 'Panteley', 'Sylvia', '301 946-8853', '1956 Arlington Pl.', 'Rockville', 'MD', '20853', 1),
 ('846-92-7186', 'Hunter', 'Sheryl', '415 836-7128', '3410 Blonde St.', 'Palo Alto', 'CA', '94301', 1),
 ('893-72-1158', 'McBadden', 'Heather', '707 448-4982', '301 Putnam', 'Vacaville', 'CA', '95688', 0),
 ('899-46-2035', 'Ringer', 'Anne', '801 826-0752', '67 Seventh Av.', 'Salt Lake City', 'UT', '84152', 1),
 ('998-72-3567', 'Ringer', 'Albert', '801 826-0752', '67 Seventh Av.', 'Salt Lake City', 'UT', '84152', 1)]

In [8]:
%%sql
select * 
from titles

 * sqlite:///publications.db
Done.

[('BU1032', "The Busy Executive's Database Guide", 'business', '1389', 19.99, 5000, 10, 4095, 'An overview of available database systems with emphasis on common business applications. Illustrated.', '1991-06-12 00:00:00'),
 ('BU1111', 'Cooking with Computers: Surreptitious Balance Sheets', 'business', '1389', 11.95, 5000, 10, 3876, 'Helpful hints on how to use your electronic resources to the best advantage.', '1991-06-09 00:00:00'),
 ('BU2075', 'You Can Combat Computer Stress!', 'business', '0736', 2.99, 10125, 24, 18722, 'The latest medical and psychological techniques for living with the electronic office. Easy-to-understand explanations.', '1991-06-30 00:00:00'),
 ('BU7832', 'Straight Talk About Computers', 'business', '1389', 19.99, 5000, 10, 4095, 'Annotated analysis of what computers can do for you: a no-hype guide for the critical user.', '1991-06-22 00:00:00'),
 ('MC2222', 'Silicon Valley Gastronomic Treats', 'mod_cook', '0877', 19.99, 0, 12, 2032, 'Favorite recipes for quick, easy, and elegant meals.', '1991-06-09 00:00:00'),
 ('MC3021', 'The Gourmet Microwave', 'mod_cook', '0877', 2.99, 15000, 24, 22246, 'Traditional French gourmet recipes adapted for modern microwave cooking.', '1991-06-18 00:00:00'),
 ('MC3026', 'The Psychology of Computer Cooking', 'UNDECIDED', '0877', None, None, None, None, None, '2014-11-07 10:39:37'),
 ('PC1035', 'But Is It User Friendly?', 'popular_comp', '1389', 22.95, 7000, 16, 8780, "A survey of software for the naive user, focusing on the 'friendliness' of each.", '1991-06-30 00:00:00'),
 ('PC8888', 'Secrets of Silicon Valley', 'popular_comp', '1389', 20, 8000, 10, 4095, "Muckraking reporting on the world's largest computer hardware and software manufacturers.", '1994-06-12 00:00:00'),
 ('PC9999', 'Net Etiquette', 'popular_comp', '1389', None, None, None, None, 'A must-read for computer conferencing.', '2014-11-07 10:39:37'),
 ('PS1372', 'Computer Phobic AND Non-Phobic Individuals: Behavior Variations', 'psychology', '0877', 21.59, 7000, 10, 375, "A must for the specialist, this book examines the difference between those who hate and fear computers and those who don't.", '1991-10-21 00:00:00'),
 ('PS2091', 'Is Anger the Enemy?', 'psychology', '0736', 10.95, 2275, 12, 2045, 'Carefully researched study of the effects of strong emotions on the body. Metabolic charts included.', '1991-06-15 00:00:00'),
 ('PS2106', 'Life Without Fear', 'psychology', '0736', 7, 6000, 10, 111, 'New exercise, meditation, and nutritional techniques that can reduce the shock of daily interactions. Popular audience. Sample menus included, exercise video available separately.', '1991-10-05 00:00:00'),
 ('PS3333', 'Prolonged Data Deprivation: Four Case Studies', 'psychology', '0736', 19.99, 2000, 10, 4072, 'What happens when the data runs dry?  Searching evaluations of information-shortage effects.', '1991-06-12 00:00:00'),
 ('PS7777', 'Emotional Security: A New Algorithm', 'psychology', '0736', 7.99, 4000, 10, 3336, 'Protecting yourself and your loved ones from undue emotional stress in the modern world. Use of computer and nutritional aids emphasized.', '1991-06-12 00:00:00'),
 ('TC3218', 'Onions, Leeks, and Garlic: Cooking Secrets of the Mediterranean', 'trad_cook', '0877', 20.95, 7000, 10, 375, 'Profusely illustrated in color, this makes a wonderful gift book for a cuisine-oriented friend.', '1991-10-21 00:00:00'),
 ('TC4203', 'Fifty Years in Buckingham Palace Kitchens', 'trad_cook', '0877', 11.95, 4000, 14, 15096, "More anecdotes from the Queen's favorite cook describing life among English royalty. Recipes, techniques, tender vignettes.", '1991-06-12 00:00:00'),
 ('TC7777', 'Sushi, Anyone?', 'trad_cook', '0877', 14.99, 8000, 10, 4095, 'Detailed instructions on how to make authentic Japanese sushi in your spare time.', '1991-06-12 00:00:00')]

In [32]:
%%sql
select * 
from sales

 * sqlite:///publications.db
Done.

[('6380', '6871', '1994-09-14 00:00:00', 5, 'Net 60', 'BU1032'),
 ('6380', '722a', '1994-09-13 00:00:00', 3, 'Net 60', 'PS2091'),
 ('7066', 'A2976', '1993-05-24 00:00:00', 50, 'Net 30', 'PC8888'),
 ('7066', 'QA7442.3', '1994-09-13 00:00:00', 75, 'ON invoice', 'PS2091'),
 ('7067', 'D4482', '1994-09-14 00:00:00', 10, 'Net 60', 'PS2091'),
 ('7067', 'P2121', '1992-06-15 00:00:00', 40, 'Net 30', 'TC3218'),
 ('7067', 'P2121', '1992-06-15 00:00:00', 20, 'Net 30', 'TC4203'),
 ('7067', 'P2121', '1992-06-15 00:00:00', 20, 'Net 30', 'TC7777'),
 ('7131', 'N914008', '1994-09-14 00:00:00', 20, 'Net 30', 'PS2091'),
 ('7131', 'N914014', '1994-09-14 00:00:00', 25, 'Net 30', 'MC3021'),
 ('7131', 'P3087a', '1993-05-29 00:00:00', 20, 'Net 60', 'PS1372'),
 ('7131', 'P3087a', '1993-05-29 00:00:00', 25, 'Net 60', 'PS2106'),
 ('7131', 'P3087a', '1993-05-29 00:00:00', 15, 'Net 60', 'PS3333'),
 ('7131', 'P3087a', '1993-05-29 00:00:00', 25, 'Net 60', 'PS7777'),
 ('7896', 'QQ2299', '1993-10-28 00:00:00', 15, 'Net 60', 'BU7832'),
 ('7896', 'TQ456', '1993-12-12 00:00:00', 10, 'Net 60', 'MC2222'),
 ('7896', 'X999', '1993-02-21 00:00:00', 35, 'ON invoice', 'BU2075'),
 ('8042', '423LL922', '1994-09-14 00:00:00', 15, 'ON invoice', 'MC3021'),
 ('8042', '423LL930', '1994-09-14 00:00:00', 10, 'ON invoice', 'BU1032'),
 ('8042', 'P723', '1993-03-11 00:00:00', 25, 'Net 30', 'BU1111'),
 ('8042', 'QA879.1', '1993-05-22 00:00:00', 30, 'Net 30', 'PC1035')]

## Challenge 1 - Who Have Published What At Where?

In [9]:
%%sql
select ta.au_id as AUTHOR_ID , a.au_lname as LAST_NAME, a.au_fname as FIRST_NAME, t.title as TITLE, p.pub_name as PUBLISHER
from titleauthor ta 
inner join authors a on ta.au_id = a.au_id
inner join titles t on ta.title_id = t.title_id
inner join publishers p on t.pub_id = p.pub_id

 * sqlite:///publications.db
Done.

[('172-32-1176', 'White', 'Johnson', 'Prolonged Data Deprivation: Four Case Studies', 'New Moon Books'),
 ('213-46-8915', 'Green', 'Marjorie', "The Busy Executive's Database Guide", 'Algodata Infosystems'),
 ('213-46-8915', 'Green', 'Marjorie', 'You Can Combat Computer Stress!', 'New Moon Books'),
 ('238-95-7766', 'Carson', 'Cheryl', 'But Is It User Friendly?', 'Algodata Infosystems'),
 ('267-41-2394', "O'Leary", 'Michael', 'Cooking with Computers: Surreptitious Balance Sheets', 'Algodata Infosystems'),
 ('267-41-2394', "O'Leary", 'Michael', 'Sushi, Anyone?', 'Binnet & Hardley'),
 ('274-80-9391', 'Straight', 'Dean', 'Straight Talk About Computers', 'Algodata Infosystems'),
 ('409-56-7008', 'Bennet', 'Abraham', "The Busy Executive's Database Guide", 'Algodata Infosystems'),
 ('427-17-2319', 'Dull', 'Ann', 'Secrets of Silicon Valley', 'Algodata Infosystems'),
 ('472-27-2349', 'Gringlesby', 'Burt', 'Sushi, Anyone?', 'Binnet & Hardley'),
 ('486-29-1786', 'Locksley', 'Charlene', 'Net Etiquette', 'Algodata Infosystems'),
 ('486-29-1786', 'Locksley', 'Charlene', 'Emotional Security: A New Algorithm', 'New Moon Books'),
 ('648-92-1872', 'Blotchet-Halls', 'Reginald', 'Fifty Years in Buckingham Palace Kitchens', 'Binnet & Hardley'),
 ('672-71-3249', 'Yokomoto', 'Akiko', 'Sushi, Anyone?', 'Binnet & Hardley'),
 ('712-45-1867', 'del Castillo', 'Innes', 'Silicon Valley Gastronomic Treats', 'Binnet & Hardley'),
 ('722-51-5454', 'DeFrance', 'Michel', 'The Gourmet Microwave', 'Binnet & Hardley'),
 ('724-80-9391', 'MacFeather', 'Stearns', 'Cooking with Computers: Surreptitious Balance Sheets', 'Algodata Infosystems'),
 ('724-80-9391', 'MacFeather', 'Stearns', 'Computer Phobic AND Non-Phobic Individuals: Behavior Variations', 'Binnet & Hardley'),
 ('756-30-7391', 'Karsen', 'Livia', 'Computer Phobic AND Non-Phobic Individuals: Behavior Variations', 'Binnet & Hardley'),
 ('807-91-6654', 'Panteley', 'Sylvia', 'Onions, Leeks, and Garlic: Cooking Secrets of the Mediterranean', 'Binnet & Hardley'),
 ('846-92-7186', 'Hunter', 'Sheryl', 'Secrets of Silicon Valley', 'Algodata Infosystems'),
 ('899-46-2035', 'Ringer', 'Anne', 'The Gourmet Microwave', 'Binnet & Hardley'),
 ('899-46-2035', 'Ringer', 'Anne', 'Is Anger the Enemy?', 'New Moon Books'),
 ('998-72-3567', 'Ringer', 'Albert', 'Is Anger the Enemy?', 'New Moon Books'),
 ('998-72-3567', 'Ringer', 'Albert', 'Life Without Fear', 'New Moon Books')]

## Challenge 2 - Who Have Published How Many At Where

In [10]:
%%sql
select ta.au_id as AUTHOR_ID,a.au_lname as LAST_NAME,a.au_fname as FIRST_NAME, p.pub_name as PUBLISHER,count(t.title) as TITLE_COUNT
from titleauthor ta 
inner join authors a on ta.au_id = a.au_id
inner join titles t on ta.title_id = t.title_id
inner join publishers p on t.pub_id = p.pub_id
group by ta.au_id, p.pub_name
order by ta.au_id desc

 * sqlite:///publications.db
Done.

[('998-72-3567', 'Ringer', 'Albert', 'New Moon Books', 2),
 ('899-46-2035', 'Ringer', 'Anne', 'Binnet & Hardley', 1),
 ('899-46-2035', 'Ringer', 'Anne', 'New Moon Books', 1),
 ('846-92-7186', 'Hunter', 'Sheryl', 'Algodata Infosystems', 1),
 ('807-91-6654', 'Panteley', 'Sylvia', 'Binnet & Hardley', 1),
 ('756-30-7391', 'Karsen', 'Livia', 'Binnet & Hardley', 1),
 ('724-80-9391', 'MacFeather', 'Stearns', 'Algodata Infosystems', 1),
 ('724-80-9391', 'MacFeather', 'Stearns', 'Binnet & Hardley', 1),
 ('722-51-5454', 'DeFrance', 'Michel', 'Binnet & Hardley', 1),
 ('712-45-1867', 'del Castillo', 'Innes', 'Binnet & Hardley', 1),
 ('672-71-3249', 'Yokomoto', 'Akiko', 'Binnet & Hardley', 1),
 ('648-92-1872', 'Blotchet-Halls', 'Reginald', 'Binnet & Hardley', 1),
 ('486-29-1786', 'Locksley', 'Charlene', 'Algodata Infosystems', 1),
 ('486-29-1786', 'Locksley', 'Charlene', 'New Moon Books', 1),
 ('472-27-2349', 'Gringlesby', 'Burt', 'Binnet & Hardley', 1),
 ('427-17-2319', 'Dull', 'Ann', 'Algodata Infosystems', 1),
 ('409-56-7008', 'Bennet', 'Abraham', 'Algodata Infosystems', 1),
 ('274-80-9391', 'Straight', 'Dean', 'Algodata Infosystems', 1),
 ('267-41-2394', "O'Leary", 'Michael', 'Algodata Infosystems', 1),
 ('267-41-2394', "O'Leary", 'Michael', 'Binnet & Hardley', 1),
 ('238-95-7766', 'Carson', 'Cheryl', 'Algodata Infosystems', 1),
 ('213-46-8915', 'Green', 'Marjorie', 'Algodata Infosystems', 1),
 ('213-46-8915', 'Green', 'Marjorie', 'New Moon Books', 1),
 ('172-32-1176', 'White', 'Johnson', 'New Moon Books', 1)]

## Challenge 3 - Best Selling Authors

In [30]:
%%sql
select a.au_id as AUTHOR_ID , a.au_lname as LAST_NAME, a.au_fname as FIRST_NAME, sum(COALESCE(t.ytd_sales,0)) as TOTAL
from authors a
left join titleauthor ta on a.au_id = ta.au_id
left join titles t on ta.title_id = t.title_id
group by a.au_id
order by TOTAL desc
limit 3

 * sqlite:///publications.db
Done.

[('899-46-2035', 'Ringer', 'Anne', 24291),
 ('213-46-8915', 'Green', 'Marjorie', 22817),
 ('722-51-5454', 'DeFrance', 'Michel', 22246)]

## Challenge 4 - Best Selling Authors Ranking

In [ ]:
# As in the previous challenge I used already left join, in this one I only have to delete the line "limit 3"

In [31]:
%%sql
select a.au_id as AUTHOR_ID , a.au_lname as LAST_NAME, a.au_fname as FIRST_NAME, sum(COALESCE(t.ytd_sales,0)) as TOTAL
from authors a
left join titleauthor ta on a.au_id = ta.au_id
left join titles t on ta.title_id = t.title_id
group by a.au_id
order by TOTAL desc

 * sqlite:///publications.db
Done.

[('899-46-2035', 'Ringer', 'Anne', 24291),
 ('213-46-8915', 'Green', 'Marjorie', 22817),
 ('722-51-5454', 'DeFrance', 'Michel', 22246),
 ('648-92-1872', 'Blotchet-Halls', 'Reginald', 15096),
 ('238-95-7766', 'Carson', 'Cheryl', 8780),
 ('267-41-2394', "O'Leary", 'Michael', 7971),
 ('724-80-9391', 'MacFeather', 'Stearns', 4251),
 ('274-80-9391', 'Straight', 'Dean', 4095),
 ('409-56-7008', 'Bennet', 'Abraham', 4095),
 ('427-17-2319', 'Dull', 'Ann', 4095),
 ('472-27-2349', 'Gringlesby', 'Burt', 4095),
 ('672-71-3249', 'Yokomoto', 'Akiko', 4095),
 ('846-92-7186', 'Hunter', 'Sheryl', 4095),
 ('172-32-1176', 'White', 'Johnson', 4072),
 ('486-29-1786', 'Locksley', 'Charlene', 3336),
 ('998-72-3567', 'Ringer', 'Albert', 2156),
 ('712-45-1867', 'del Castillo', 'Innes', 2032),
 ('756-30-7391', 'Karsen', 'Livia', 375),
 ('807-91-6654', 'Panteley', 'Sylvia', 375),
 ('341-22-1782', 'Smith', 'Meander', 0),
 ('527-72-3246', 'Greene', 'Morningstar', 0),
 ('724-08-9931', 'Stringer', 'Dirk', 0),
 ('893-72-1158', 'McBadden', 'Heather', 0)]