In [6]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [7]:
%sql sqlite:///publications.db

'Connected: @publications.db'

In [8]:
%%sql

select auth.au_id, auth.au_lname, auth.au_fname, tit.title, pub.pub_name
from authors as auth inner join titleauthor as ta on auth.au_id = ta.au_id
                     inner join titles as tit on ta.title_id = tit.title_id
                     inner join publishers as pub on tit.pub_id = pub.pub_id

 * sqlite:///publications.db
Done.

[('172-32-1176', 'White', 'Johnson', 'Prolonged Data Deprivation: Four Case Studies', 'New Moon Books'),
 ('213-46-8915', 'Green', 'Marjorie', "The Busy Executive's Database Guide", 'Algodata Infosystems'),
 ('213-46-8915', 'Green', 'Marjorie', 'You Can Combat Computer Stress!', 'New Moon Books'),
 ('238-95-7766', 'Carson', 'Cheryl', 'But Is It User Friendly?', 'Algodata Infosystems'),
 ('267-41-2394', "O'Leary", 'Michael', 'Cooking with Computers: Surreptitious Balance Sheets', 'Algodata Infosystems'),
 ('267-41-2394', "O'Leary", 'Michael', 'Sushi, Anyone?', 'Binnet & Hardley'),
 ('274-80-9391', 'Straight', 'Dean', 'Straight Talk About Computers', 'Algodata Infosystems'),
 ('409-56-7008', 'Bennet', 'Abraham', "The Busy Executive's Database Guide", 'Algodata Infosystems'),
 ('427-17-2319', 'Dull', 'Ann', 'Secrets of Silicon Valley', 'Algodata Infosystems'),
 ('472-27-2349', 'Gringlesby', 'Burt', 'Sushi, Anyone?', 'Binnet & Hardley'),
 ('486-29-1786', 'Locksley', 'Charlene', 'Net Etiquette', 'Algodata Infosystems'),
 ('486-29-1786', 'Locksley', 'Charlene', 'Emotional Security: A New Algorithm', 'New Moon Books'),
 ('648-92-1872', 'Blotchet-Halls', 'Reginald', 'Fifty Years in Buckingham Palace Kitchens', 'Binnet & Hardley'),
 ('672-71-3249', 'Yokomoto', 'Akiko', 'Sushi, Anyone?', 'Binnet & Hardley'),
 ('712-45-1867', 'del Castillo', 'Innes', 'Silicon Valley Gastronomic Treats', 'Binnet & Hardley'),
 ('722-51-5454', 'DeFrance', 'Michel', 'The Gourmet Microwave', 'Binnet & Hardley'),
 ('724-80-9391', 'MacFeather', 'Stearns', 'Cooking with Computers: Surreptitious Balance Sheets', 'Algodata Infosystems'),
 ('724-80-9391', 'MacFeather', 'Stearns', 'Computer Phobic AND Non-Phobic Individuals: Behavior Variations', 'Binnet & Hardley'),
 ('756-30-7391', 'Karsen', 'Livia', 'Computer Phobic AND Non-Phobic Individuals: Behavior Variations', 'Binnet & Hardley'),
 ('807-91-6654', 'Panteley', 'Sylvia', 'Onions, Leeks, and Garlic: Cooking Secrets of the Mediterranean', 'Binnet & Hardley'),
 ('846-92-7186', 'Hunter', 'Sheryl', 'Secrets of Silicon Valley', 'Algodata Infosystems'),
 ('899-46-2035', 'Ringer', 'Anne', 'The Gourmet Microwave', 'Binnet & Hardley'),
 ('899-46-2035', 'Ringer', 'Anne', 'Is Anger the Enemy?', 'New Moon Books'),
 ('998-72-3567', 'Ringer', 'Albert', 'Is Anger the Enemy?', 'New Moon Books'),
 ('998-72-3567', 'Ringer', 'Albert', 'Life Without Fear', 'New Moon Books')]

In [9]:
%%sql

select auth.au_id, auth.au_lname, auth.au_fname, pub.pub_name, count(tit.title) as number_titles 
from authors as auth inner join titleauthor as ta on auth.au_id = ta.au_id
                     inner join titles as tit on ta.title_id = tit.title_id
                     inner join publishers as pub on tit.pub_id = pub.pub_id
group by auth.au_id, pub.pub_name

 * sqlite:///publications.db
Done.

[('172-32-1176', 'White', 'Johnson', 'New Moon Books', 1),
 ('213-46-8915', 'Green', 'Marjorie', 'Algodata Infosystems', 1),
 ('213-46-8915', 'Green', 'Marjorie', 'New Moon Books', 1),
 ('238-95-7766', 'Carson', 'Cheryl', 'Algodata Infosystems', 1),
 ('267-41-2394', "O'Leary", 'Michael', 'Algodata Infosystems', 1),
 ('267-41-2394', "O'Leary", 'Michael', 'Binnet & Hardley', 1),
 ('274-80-9391', 'Straight', 'Dean', 'Algodata Infosystems', 1),
 ('409-56-7008', 'Bennet', 'Abraham', 'Algodata Infosystems', 1),
 ('427-17-2319', 'Dull', 'Ann', 'Algodata Infosystems', 1),
 ('472-27-2349', 'Gringlesby', 'Burt', 'Binnet & Hardley', 1),
 ('486-29-1786', 'Locksley', 'Charlene', 'Algodata Infosystems', 1),
 ('486-29-1786', 'Locksley', 'Charlene', 'New Moon Books', 1),
 ('648-92-1872', 'Blotchet-Halls', 'Reginald', 'Binnet & Hardley', 1),
 ('672-71-3249', 'Yokomoto', 'Akiko', 'Binnet & Hardley', 1),
 ('712-45-1867', 'del Castillo', 'Innes', 'Binnet & Hardley', 1),
 ('722-51-5454', 'DeFrance', 'Michel', 'Binnet & Hardley', 1),
 ('724-80-9391', 'MacFeather', 'Stearns', 'Algodata Infosystems', 1),
 ('724-80-9391', 'MacFeather', 'Stearns', 'Binnet & Hardley', 1),
 ('756-30-7391', 'Karsen', 'Livia', 'Binnet & Hardley', 1),
 ('807-91-6654', 'Panteley', 'Sylvia', 'Binnet & Hardley', 1),
 ('846-92-7186', 'Hunter', 'Sheryl', 'Algodata Infosystems', 1),
 ('899-46-2035', 'Ringer', 'Anne', 'Binnet & Hardley', 1),
 ('899-46-2035', 'Ringer', 'Anne', 'New Moon Books', 1),
 ('998-72-3567', 'Ringer', 'Albert', 'New Moon Books', 2)]

In [10]:
%%sql

select auth.au_id, auth.au_lname, auth.au_fname, count(tit.title) as total_titles 
from authors as auth left join titleauthor as ta on auth.au_id = ta.au_id
                     left join titles as tit on ta.title_id = tit.title_id
group by auth.au_id
order by total_titles desc

 * sqlite:///publications.db
Done.

[('213-46-8915', 'Green', 'Marjorie', 2),
 ('267-41-2394', "O'Leary", 'Michael', 2),
 ('486-29-1786', 'Locksley', 'Charlene', 2),
 ('724-80-9391', 'MacFeather', 'Stearns', 2),
 ('899-46-2035', 'Ringer', 'Anne', 2),
 ('998-72-3567', 'Ringer', 'Albert', 2),
 ('172-32-1176', 'White', 'Johnson', 1),
 ('238-95-7766', 'Carson', 'Cheryl', 1),
 ('274-80-9391', 'Straight', 'Dean', 1),
 ('409-56-7008', 'Bennet', 'Abraham', 1),
 ('427-17-2319', 'Dull', 'Ann', 1),
 ('472-27-2349', 'Gringlesby', 'Burt', 1),
 ('648-92-1872', 'Blotchet-Halls', 'Reginald', 1),
 ('672-71-3249', 'Yokomoto', 'Akiko', 1),
 ('712-45-1867', 'del Castillo', 'Innes', 1),
 ('722-51-5454', 'DeFrance', 'Michel', 1),
 ('756-30-7391', 'Karsen', 'Livia', 1),
 ('807-91-6654', 'Panteley', 'Sylvia', 1),
 ('846-92-7186', 'Hunter', 'Sheryl', 1),
 ('341-22-1782', 'Smith', 'Meander', 0),
 ('527-72-3246', 'Greene', 'Morningstar', 0),
 ('724-08-9931', 'Stringer', 'Dirk', 0),
 ('893-72-1158', 'McBadden', 'Heather', 0)]

In [13]:
%%sql

--Challenge 1 advanced sql  

-- Aquí hay que tener en cuenta la información de la tabla de ventas ya que royalty es un porcentaje sobre las ventas

-- Un titulo puede aparecer varias veces ya que se puede haber vendido en diferentes tiendas. 

select *, sales_royalties + advance as total_income from (select a.au_id as author_id, a.au_fname as FirstName, a.au_lname as LastName, tit.title_id, tit.title, tit.advance, sum(round(tit.price * s.qty * tit.royalty / 100 * titauth.royaltyper / 100, 2)) as sales_royalties
from authors as a 
left join titleauthor as titauth on a.au_id = titauth.au_id
left join titles as tit on titauth.title_id = tit.title_id
left join sales as s on tit.title_id = s.title_id

group by a.au_id, tit.title_id)
order by total_income desc
limit 3

 * sqlite:///publications.db
Done.

[('722-51-5454', 'Michel', 'DeFrance', 'MC3021', 'The Gourmet Microwave', 15000, 21.53, 15021.53),
 ('899-46-2035', 'Anne', 'Ringer', 'MC3021', 'The Gourmet Microwave', 15000, 7.18, 15007.18),
 ('213-46-8915', 'Marjorie', 'Green', 'BU2075', 'You Can Combat Computer Stress!', 10125, 25.12, 10150.12)]