In [44]:
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="/Users/ljgoico/desktop/ironhack/Ironhack Data Analytics.json"

from google.cloud import bigquery

client = bigquery.Client()

## CHALLENGE 1

#### Who Have Published What At Where?

In [45]:
QUERY = '''
SELECT
    authors.au_id,
    authors.au_lname,
    authors.au_fname,
    titles.title,
    publishers.pub_name
FROM `ironhack-data-analytics.publications.authors` authors

JOIN `ironhack-data-analytics.publications.titleauthor` titleauthor
ON authors.au_id = titleauthor.au_id

JOIN `ironhack-data-analytics.publications.titles` titles
ON titleauthor.title_id = titles.title_id

JOIN `ironhack-data-analytics.publications.publishers` publishers
ON titles.pub_id = publishers.pub_id

'''

In [46]:
query_job = client.query(QUERY)

df = query_job.to_dataframe()

df

,au_id,au_lname,au_fname,title,pub_name
0,807-91-6654,Panteley,Sylvia,"Onions, Leeks, and Garlic: Cooking Secrets of ...",Binnet & Hardley
1,722-51-5454,DeFrance,Michel,The Gourmet Microwave,Binnet & Hardley
2,712-45-1867,del Castillo,Innes,Silicon Valley Gastronomic Treats,Binnet & Hardley
3,899-46-2035,Ringer,Anne,Is Anger the Enemy?,New Moon Books
4,899-46-2035,Ringer,Anne,The Gourmet Microwave,Binnet & Hardley
5,998-72-3567,Ringer,Albert,Is Anger the Enemy?,New Moon Books
6,998-72-3567,Ringer,Albert,Life Without Fear,New Moon Books
7,172-32-1176,White,Johnson,Prolonged Data Deprivation: Four Case Studies,New Moon Books
8,486-29-1786,Locksley,Charlene,Net Etiquette,Algodata Infosystems
9,486-29-1786,Locksley,Charlene,Emotional Security: A New Algorithm,New Moon Books
10,846-92-7186,Hunter,Sheryl,Secrets of Silicon Valley,Algodata Infosystems
11,427-17-2319,Dull,Ann,Secrets of Silicon Valley,Algodata Infosystems
12,672-71-3249,Yokomoto,Akiko,"Sushi, Anyone?",Binnet & Hardley
13,274-80-9391,Straight,Dean,Straight Talk About Computers,Algodata Infosystems
14,756-30-7391,Karsen,Livia,Computer Phobic AND Non-Phobic Individuals: Be...,Binnet & Hardley
15,724-80-9391,MacFeather,Stearns,Computer Phobic AND Non-Phobic Individuals: Be...,Binnet & Hardley
16,724-80-9391,MacFeather,Stearns,Cooking with Computers: Surreptitious Balance ...,Algodata Infosystems
17,213-46-8915,Green,Marjorie,The Busy Executive's Database Guide,Algodata Infosystems
18,213-46-8915,Green,Marjorie,You Can Combat Computer Stress!,New Moon Books
19,238-95-7766,Carson,Cheryl,But Is It User Friendly?,Algodata Infosystems
20,409-56-7008,Bennet,Abraham,The Busy Executive's Database Guide,Algodata Infosystems
21,267-41-2394,O'Leary,Michael,Cooking with Computers: Surreptitious Balance ...,Algodata Infosystems
22,267-41-2394,O'Leary,Michael,"Sushi, Anyone?",Binnet & Hardley
23,472-27-2349,Gringlesby,Burt,"Sushi, Anyone?",Binnet & Hardley
24,648-92-1872,Blotchet-Halls,Reginald,Fifty Years in Buckingham Palace Kitchens,Binnet & Hardley

## CHALLENGE 2

#### WWho Have Published How Many At Where?

In [47]:
QUERY2 = '''
SELECT
    authors.au_id,
    authors.au_lname,
    authors.au_fname,
    publishers.pub_name,
    COUNT(titles.title) AS title_count
    
FROM `ironhack-data-analytics.publications.authors` authors

JOIN `ironhack-data-analytics.publications.titleauthor` titleauthor
ON authors.au_id = titleauthor.au_id

JOIN `ironhack-data-analytics.publications.titles` titles
ON titleauthor.title_id = titles.title_id

JOIN `ironhack-data-analytics.publications.publishers` publishers
ON titles.pub_id = publishers.pub_id

GROUP BY
    1,2,3,4

ORDER BY
    title_count DESC


'''

In [48]:
query_job = client.query(QUERY2)

df = query_job.to_dataframe()

df

          au_id        au_lname  au_fname              pub_name  title_count
0   998-72-3567          Ringer    Albert        New Moon Books            2
1   712-45-1867    del Castillo     Innes      Binnet & Hardley            1
2   899-46-2035          Ringer      Anne        New Moon Books            1
3   724-80-9391      MacFeather   Stearns      Binnet & Hardley            1
4   238-95-7766          Carson    Cheryl  Algodata Infosystems            1
5   724-80-9391      MacFeather   Stearns  Algodata Infosystems            1
6   472-27-2349      Gringlesby      Burt      Binnet & Hardley            1
7   756-30-7391          Karsen     Livia      Binnet & Hardley            1
8   213-46-8915           Green  Marjorie  Algodata Infosystems            1
9   722-51-5454        DeFrance    Michel      Binnet & Hardley            1
10  409-56-7008          Bennet   Abraham  Algodata Infosystems            1
11  807-91-6654        Panteley    Sylvia      Binnet & Hardley            1
12  648-92-1872  Blotchet-Halls  Reginald      Binnet & Hardley            1
13  213-46-8915           Green  Marjorie        New Moon Books            1
14  267-41-2394         O'Leary   Michael  Algodata Infosystems            1
15  427-17-2319            Dull       Ann  Algodata Infosystems            1
16  672-71-3249        Yokomoto     Akiko      Binnet & Hardley            1
17  267-41-2394         O'Leary   Michael      Binnet & Hardley            1
18  846-92-7186          Hunter    Sheryl  Algodata Infosystems            1
19  172-32-1176           White   Johnson        New Moon Books            1
20  899-46-2035          Ringer      Anne      Binnet & Hardley            1
21  274-80-9391        Straight      Dean  Algodata Infosystems            1
22  486-29-1786        Locksley  Charlene  Algodata Infosystems            1
23  486-29-1786        Locksley  Charlene        New Moon Books            1

## CHALLENGE 3

#### Best Selling Authors

In [113]:
QUERY3 = '''

SELECT 
    authors.au_id,
    authors.au_lname,
    authors.au_fname,
    SUM(sales.qty) AS title_count
    
FROM `ironhack-data-analytics.publications.authors` authors

JOIN `ironhack-data-analytics.publications.titleauthor` titleauthor
ON authors.au_id = titleauthor.au_id

JOIN `ironhack-data-analytics.publications.sales` sales
ON titleauthor.title_id = sales.title_id


GROUP BY
    1,2,3

ORDER BY
    title_count DESC

LIMIT 3

'''

In [114]:
query_job = client.query(QUERY3)

df = query_job.to_dataframe()

df

         au_id au_lname  au_fname title_count
0  899-46-2035   Ringer      Anne         148
1  998-72-3567   Ringer    Albert         133
2  213-46-8915    Green  Marjorie          50

## CHALLENGE 4

#### Best Selling Authors Ranking

In [136]:
QUERY4 = '''
SELECT
    authors.au_id,
    authors.au_lname,
    authors.au_fname,
    COALESCE (SUM(sales.qty), 0) AS TOTAL
    
FROM `ironhack-data-analytics.publications.authors` authors

FULL OUTER JOIN `ironhack-data-analytics.publications.titleauthor` titleauthor
ON authors.au_id = titleauthor.au_id

FULL OUTER JOIN `ironhack-data-analytics.publications.sales` sales
ON titleauthor.title_id = sales.title_id


GROUP BY
    1,2,3
    
ORDER BY
    TOTAL DESC

LIMIT 23

'''

In [137]:
query_job = client.query(QUERY4)

df = query_job.to_dataframe()

df

#no me reconoce el title_count, pero es lo que necesito poner
#además, la función DENSE_RANK tiene como parámetro obligatorio el ORDER BY, según lo que he encontrado

          au_id        au_lname     au_fname TOTAL
0   899-46-2035          Ringer         Anne   148
1   998-72-3567          Ringer       Albert   133
2   213-46-8915           Green     Marjorie    50
3   427-17-2319            Dull          Ann    50
4   846-92-7186          Hunter       Sheryl    50
5   724-80-9391      MacFeather      Stearns    45
6   267-41-2394         O'Leary      Michael    45
7   807-91-6654        Panteley       Sylvia    40
8   722-51-5454        DeFrance       Michel    40
9   238-95-7766          Carson       Cheryl    30
10  486-29-1786        Locksley     Charlene    25
11  648-92-1872  Blotchet-Halls     Reginald    20
12  756-30-7391          Karsen        Livia    20
13  472-27-2349      Gringlesby         Burt    20
14  672-71-3249        Yokomoto        Akiko    20
15  274-80-9391        Straight         Dean    15
16  409-56-7008          Bennet      Abraham    15
17  172-32-1176           White      Johnson    15
18  712-45-1867    del Castillo        Innes    10
19  893-72-1158        McBadden      Heather     0
20  341-22-1782           Smith      Meander     0
21  527-72-3246          Greene  Morningstar     0
22  724-08-9931        Stringer         Dirk     0