## Imports

In [2]:
import os

In [3]:
from google.cloud import bigquery

In [4]:
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]= "/Users/koide/Documents/ironhack-code/ironhack_service_account_big_query.json"

# Create connection to BigQuery

In [5]:
client = bigquery.Client()

## Challenge 1

In [32]:
query = """
SELECT author.au_id, author.au_lname, author.au_fname, titles.title, publishers.pub_name
FROM `ironhack-data-analytics-265219.publications.titleauthor` as titleauthor
JOIN `ironhack-data-analytics-265219.publications.authors` as author
ON titleauthor.au_id = author.au_id
JOIN `ironhack-data-analytics-265219.publications.titles` as titles
ON titleauthor.title_id = titles.title_id
JOIN `ironhack-data-analytics-265219.publications.publishers` as publishers
ON titles.pub_id = publishers.pub_id
ORDER BY 
    author.au_id ASC
"""

In [33]:
query_job = client.query(query=query)
query_job.to_dataframe()

,au_id,au_lname,au_fname,title,pub_name
0,172-32-1176,White,Johnson,Prolonged Data Deprivation: Four Case Studies,New Moon Books
1,213-46-8915,Green,Marjorie,The Busy Executive's Database Guide,Algodata Infosystems
2,213-46-8915,Green,Marjorie,You Can Combat Computer Stress!,New Moon Books
3,238-95-7766,Carson,Cheryl,But Is It User Friendly?,Algodata Infosystems
4,267-41-2394,O'Leary,Michael,Cooking with Computers: Surreptitious Balance ...,Algodata Infosystems
5,267-41-2394,O'Leary,Michael,"Sushi, Anyone?",Binnet & Hardley
6,274-80-9391,Straight,Dean,Straight Talk About Computers,Algodata Infosystems
7,409-56-7008,Bennet,Abraham,The Busy Executive's Database Guide,Algodata Infosystems
8,427-17-2319,Dull,Ann,Secrets of Silicon Valley,Algodata Infosystems
9,472-27-2349,Gringlesby,Burt,"Sushi, Anyone?",Binnet & Hardley
10,486-29-1786,Locksley,Charlene,Emotional Security: A New Algorithm,New Moon Books
11,486-29-1786,Locksley,Charlene,Net Etiquette,Algodata Infosystems
12,648-92-1872,Blotchet-Halls,Reginald,Fifty Years in Buckingham Palace Kitchens,Binnet & Hardley
13,672-71-3249,Yokomoto,Akiko,"Sushi, Anyone?",Binnet & Hardley
14,712-45-1867,del Castillo,Innes,Silicon Valley Gastronomic Treats,Binnet & Hardley
15,722-51-5454,DeFrance,Michel,The Gourmet Microwave,Binnet & Hardley
16,724-80-9391,MacFeather,Stearns,Computer Phobic AND Non-Phobic Individuals: Be...,Binnet & Hardley
17,724-80-9391,MacFeather,Stearns,Cooking with Computers: Surreptitious Balance ...,Algodata Infosystems
18,756-30-7391,Karsen,Livia,Computer Phobic AND Non-Phobic Individuals: Be...,Binnet & Hardley
19,807-91-6654,Panteley,Sylvia,"Onions, Leeks, and Garlic: Cooking Secrets of ...",Binnet & Hardley
20,846-92-7186,Hunter,Sheryl,Secrets of Silicon Valley,Algodata Infosystems
21,899-46-2035,Ringer,Anne,Is Anger the Enemy?,New Moon Books
22,899-46-2035,Ringer,Anne,The Gourmet Microwave,Binnet & Hardley
23,998-72-3567,Ringer,Albert,Is Anger the Enemy?,New Moon Books
24,998-72-3567,Ringer,Albert,Life Without Fear,New Moon Books

## Challenge 2

In [82]:
query2 = """
SELECT author.au_id as AUTHOR_ID,
        author.au_lname as LASTNAME,
        author.au_fname as FIRSTNAME,
        publishers.pub_name as PUBLISHER,
        COUNT(titles.title_id) as TITLECOUNT

FROM `ironhack-data-analytics-265219.publications.titleauthor` as titleauthor

JOIN `ironhack-data-analytics-265219.publications.authors` as author
ON titleauthor.au_id = author.au_id

JOIN `ironhack-data-analytics-265219.publications.titles` as titles
ON titleauthor.title_id = titles.title_id

JOIN `ironhack-data-analytics-265219.publications.publishers` as publishers
ON titles.pub_id = publishers.pub_id

GROUP BY 
    1,2,3,4
ORDER BY 
    author.au_id DESC
"""

In [83]:
query_job2 = client.query(query=query2)
query_job2.to_dataframe()

      AUTHOR_ID        LASTNAME FIRSTNAME             PUBLISHER  TITLECOUNT
0   998-72-3567          Ringer    Albert        New Moon Books           2
1   899-46-2035          Ringer      Anne        New Moon Books           1
2   899-46-2035          Ringer      Anne      Binnet & Hardley           1
3   846-92-7186          Hunter    Sheryl  Algodata Infosystems           1
4   807-91-6654        Panteley    Sylvia      Binnet & Hardley           1
5   756-30-7391          Karsen     Livia      Binnet & Hardley           1
6   724-80-9391      MacFeather   Stearns      Binnet & Hardley           1
7   724-80-9391      MacFeather   Stearns  Algodata Infosystems           1
8   722-51-5454        DeFrance    Michel      Binnet & Hardley           1
9   712-45-1867    del Castillo     Innes      Binnet & Hardley           1
10  672-71-3249        Yokomoto     Akiko      Binnet & Hardley           1
11  648-92-1872  Blotchet-Halls  Reginald      Binnet & Hardley           1
12  486-29-1786        Locksley  Charlene        New Moon Books           1
13  486-29-1786        Locksley  Charlene  Algodata Infosystems           1
14  472-27-2349      Gringlesby      Burt      Binnet & Hardley           1
15  427-17-2319            Dull       Ann  Algodata Infosystems           1
16  409-56-7008          Bennet   Abraham  Algodata Infosystems           1
17  274-80-9391        Straight      Dean  Algodata Infosystems           1
18  267-41-2394         O'Leary   Michael  Algodata Infosystems           1
19  267-41-2394         O'Leary   Michael      Binnet & Hardley           1
20  238-95-7766          Carson    Cheryl  Algodata Infosystems           1
21  213-46-8915           Green  Marjorie  Algodata Infosystems           1
22  213-46-8915           Green  Marjorie        New Moon Books           1
23  172-32-1176           White   Johnson        New Moon Books           1

## Challenge 3

In [100]:
query3 = """
SELECT author.au_id as AUTHOR_ID,
        author.au_lname as LASTNAME,
        author.au_fname as FIRSTNAME,
        SUM(titles.ytd_sales) as TOTAL

FROM `ironhack-data-analytics-265219.publications.titleauthor` as titleauthor

JOIN `ironhack-data-analytics-265219.publications.authors` as author
ON titleauthor.au_id = author.au_id

JOIN `ironhack-data-analytics-265219.publications.titles` as titles
ON titleauthor.title_id = titles.title_id

JOIN `ironhack-data-analytics-265219.publications.publishers` as publishers
ON titles.pub_id = publishers.pub_id

GROUP BY 
    1,2,3
ORDER BY 
    TOTAL DESC
LIMIT 3
"""

In [101]:
query_job3 = client.query(query=query3)
query_job3.to_dataframe()

     AUTHOR_ID  LASTNAME FIRSTNAME  TOTAL
0  899-46-2035    Ringer      Anne  24291
1  213-46-8915     Green  Marjorie  22817
2  722-51-5454  DeFrance    Michel  22246

## Challenge 4

In [132]:
query4 = """
SELECT author.au_id as AUTHOR_ID,
        author.au_lname as LASTNAME,
        author.au_fname as FIRSTNAME,
        COALESCE(SUM(titles.ytd_sales), 0) as TOTAL

FROM `ironhack-data-analytics-265219.publications.titleauthor` as titleauthor

FULL JOIN `ironhack-data-analytics-265219.publications.authors` as author
ON titleauthor.au_id = author.au_id

FULL JOIN `ironhack-data-analytics-265219.publications.titles` as titles
ON titleauthor.title_id = titles.title_id

FULL JOIN `ironhack-data-analytics-265219.publications.publishers` as publishers
ON titles.pub_id = publishers.pub_id

GROUP BY 
    1,2,3
ORDER BY 
    TOTAL DESC
"""

In [133]:
query_job4 = client.query(query=query4)
query_job4.to_dataframe()

      AUTHOR_ID        LASTNAME    FIRSTNAME  TOTAL
0   899-46-2035          Ringer         Anne  24291
1   213-46-8915           Green     Marjorie  22817
2   722-51-5454        DeFrance       Michel  22246
3   648-92-1872  Blotchet-Halls     Reginald  15096
4   238-95-7766          Carson       Cheryl   8780
5   267-41-2394         O'Leary      Michael   7971
6   724-80-9391      MacFeather      Stearns   4251
7   409-56-7008          Bennet      Abraham   4095
8   274-80-9391        Straight         Dean   4095
9   427-17-2319            Dull          Ann   4095
10  846-92-7186          Hunter       Sheryl   4095
11  472-27-2349      Gringlesby         Burt   4095
12  672-71-3249        Yokomoto        Akiko   4095
13  172-32-1176           White      Johnson   4072
14  486-29-1786        Locksley     Charlene   3336
15  998-72-3567          Ringer       Albert   2156
16  712-45-1867    del Castillo        Innes   2032
17  756-30-7391          Karsen        Livia    375
18  807-91-6654        Panteley       Sylvia    375
19         None            None         None      0
20  724-08-9931        Stringer         Dirk      0
21  893-72-1158        McBadden      Heather      0
22  527-72-3246          Greene  Morningstar      0
23  341-22-1782           Smith      Meander      0

## Bonus Challenge