## Import

In [1]:
import os

In [2]:
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="/home/eiroamd/Documents/IH/Ironhack Data Analytics.json"

In [3]:
from google.cloud import bigquery

In [4]:
client = bigquery.Client()

`ironhack-data-analytics.publications`

## Challenge 1

In [7]:
query1 = """
SELECT
    authors.au_id,
    authors.au_fname,
    authors.au_lname,
    titles.title,
    publishers.pub_name

FROM
    `ironhack-data-analytics.publications.authors` authors
INNER JOIN
    `ironhack-data-analytics.publications.titleauthor` title_author
USING (au_id)

INNER JOIN
    `ironhack-data-analytics.publications.titles` titles
ON
    title_author.title_id = titles.title_id

INNER JOIN
    `ironhack-data-analytics.publications.publishers` publishers
USING (pub_id)

ORDER BY
    au_id

"""

In [8]:
query_job = client.query(query=query1)
df = query_job.to_dataframe()
df.head(20)

,au_id,au_fname,au_lname,title,pub_name
0,172-32-1176,Johnson,White,Prolonged Data Deprivation: Four Case Studies,New Moon Books
1,213-46-8915,Marjorie,Green,The Busy Executive's Database Guide,Algodata Infosystems
2,213-46-8915,Marjorie,Green,You Can Combat Computer Stress!,New Moon Books
3,238-95-7766,Cheryl,Carson,But Is It User Friendly?,Algodata Infosystems
4,267-41-2394,Michael,O'Leary,Cooking with Computers: Surreptitious Balance ...,Algodata Infosystems
5,267-41-2394,Michael,O'Leary,"Sushi, Anyone?",Binnet & Hardley
6,274-80-9391,Dean,Straight,Straight Talk About Computers,Algodata Infosystems
7,409-56-7008,Abraham,Bennet,The Busy Executive's Database Guide,Algodata Infosystems
8,427-17-2319,Ann,Dull,Secrets of Silicon Valley,Algodata Infosystems
9,472-27-2349,Burt,Gringlesby,"Sushi, Anyone?",Binnet & Hardley
10,486-29-1786,Charlene,Locksley,Net Etiquette,Algodata Infosystems
11,486-29-1786,Charlene,Locksley,Emotional Security: A New Algorithm,New Moon Books
12,648-92-1872,Reginald,Blotchet-Halls,Fifty Years in Buckingham Palace Kitchens,Binnet & Hardley
13,672-71-3249,Akiko,Yokomoto,"Sushi, Anyone?",Binnet & Hardley
14,712-45-1867,Innes,del Castillo,Silicon Valley Gastronomic Treats,Binnet & Hardley
15,722-51-5454,Michel,DeFrance,The Gourmet Microwave,Binnet & Hardley
16,724-80-9391,Stearns,MacFeather,Computer Phobic AND Non-Phobic Individuals: Be...,Binnet & Hardley
17,724-80-9391,Stearns,MacFeather,Cooking with Computers: Surreptitious Balance ...,Algodata Infosystems
18,756-30-7391,Livia,Karsen,Computer Phobic AND Non-Phobic Individuals: Be...,Binnet & Hardley
19,807-91-6654,Sylvia,Panteley,"Onions, Leeks, and Garlic: Cooking Secrets of ...",Binnet & Hardley

## Challenge 2

In [9]:
query1 = """
SELECT
    authors.au_id,
    authors.au_fname,
    authors.au_lname,
    publishers.pub_name,
    COUNT(titles.title) AS title_count

FROM
    `ironhack-data-analytics.publications.authors` authors
INNER JOIN
    `ironhack-data-analytics.publications.titleauthor` title_author
ON
    authors.au_id = title_author.au_id

INNER JOIN
    `ironhack-data-analytics.publications.titles` titles
ON
    title_author.title_id = titles.title_id

INNER JOIN
    `ironhack-data-analytics.publications.publishers` publishers
ON
    titles.pub_id = publishers.pub_id

GROUP BY
    1,2,3,4

ORDER BY
    title_count DESC,
    pub_name

"""

In [10]:
query_job = client.query(query=query1)
df = query_job.to_dataframe()
df

          au_id  au_fname        au_lname              pub_name  title_count
0   998-72-3567    Albert          Ringer        New Moon Books            2
1   846-92-7186    Sheryl          Hunter  Algodata Infosystems            1
2   427-17-2319       Ann            Dull  Algodata Infosystems            1
3   486-29-1786  Charlene        Locksley  Algodata Infosystems            1
4   238-95-7766    Cheryl          Carson  Algodata Infosystems            1
5   213-46-8915  Marjorie           Green  Algodata Infosystems            1
6   409-56-7008   Abraham          Bennet  Algodata Infosystems            1
7   274-80-9391      Dean        Straight  Algodata Infosystems            1
8   724-80-9391   Stearns      MacFeather  Algodata Infosystems            1
9   267-41-2394   Michael         O'Leary  Algodata Infosystems            1
10  724-80-9391   Stearns      MacFeather      Binnet & Hardley            1
11  648-92-1872  Reginald  Blotchet-Halls      Binnet & Hardley            1
12  267-41-2394   Michael         O'Leary      Binnet & Hardley            1
13  756-30-7391     Livia          Karsen      Binnet & Hardley            1
14  722-51-5454    Michel        DeFrance      Binnet & Hardley            1
15  672-71-3249     Akiko        Yokomoto      Binnet & Hardley            1
16  472-27-2349      Burt      Gringlesby      Binnet & Hardley            1
17  807-91-6654    Sylvia        Panteley      Binnet & Hardley            1
18  712-45-1867     Innes    del Castillo      Binnet & Hardley            1
19  899-46-2035      Anne          Ringer      Binnet & Hardley            1
20  213-46-8915  Marjorie           Green        New Moon Books            1
21  172-32-1176   Johnson           White        New Moon Books            1
22  486-29-1786  Charlene        Locksley        New Moon Books            1
23  899-46-2035      Anne          Ringer        New Moon Books            1

## Challenge 3

In [26]:
query3 = """
SELECT
    a.au_id,
    a.au_lname,
    a.au_fname,
    SUM(s.qty) AS total

FROM
    `ironhack-data-analytics.publications.authors` a
LEFT JOIN
    `ironhack-data-analytics.publications.titleauthor` t_a
USING(au_id)

LEFT JOIN
    `ironhack-data-analytics.publications.sales` s
USING(title_id)

GROUP BY
    a.au_id,
    a.au_lname,
    a.au_fname

ORDER BY
    total DESC

LIMIT
    3

"""

In [27]:
query_job = client.query(query=query3)
df = query_job.to_dataframe()
df.head(20)

         au_id au_lname  au_fname total
0  899-46-2035   Ringer      Anne   148
1  998-72-3567   Ringer    Albert   133
2  213-46-8915    Green  Marjorie    50

## Challenge 4

In [30]:
query4 = """
SELECT
    a.au_id,
    a.au_lname,
    a.au_fname,
    COALESCE((SUM(s.qty)),0) as total

FROM
    `ironhack-data-analytics.publications.authors` a
LEFT JOIN
    `ironhack-data-analytics.publications.titleauthor` t_a
USING(au_id)

LEFT JOIN
    `ironhack-data-analytics.publications.sales` s
USING(title_id)

GROUP BY
    a.au_id,
    a.au_lname,
    a.au_fname

ORDER BY
    total DESC

"""

In [31]:
query_job = client.query(query=query4)
df = query_job.to_dataframe()
df

          au_id        au_lname     au_fname total
0   899-46-2035          Ringer         Anne   148
1   998-72-3567          Ringer       Albert   133
2   213-46-8915           Green     Marjorie    50
3   427-17-2319            Dull          Ann    50
4   846-92-7186          Hunter       Sheryl    50
5   724-80-9391      MacFeather      Stearns    45
6   267-41-2394         O'Leary      Michael    45
7   807-91-6654        Panteley       Sylvia    40
8   722-51-5454        DeFrance       Michel    40
9   238-95-7766          Carson       Cheryl    30
10  486-29-1786        Locksley     Charlene    25
11  756-30-7391          Karsen        Livia    20
12  472-27-2349      Gringlesby         Burt    20
13  648-92-1872  Blotchet-Halls     Reginald    20
14  672-71-3249        Yokomoto        Akiko    20
15  274-80-9391        Straight         Dean    15
16  409-56-7008          Bennet      Abraham    15
17  172-32-1176           White      Johnson    15
18  712-45-1867    del Castillo        Innes    10
19  893-72-1158        McBadden      Heather     0
20  341-22-1782           Smith      Meander     0
21  527-72-3246          Greene  Morningstar     0
22  724-08-9931        Stringer         Dirk     0

## Bonus Challenge