# Xabi LÃ³pez, project 20 SQL

In [1]:
%load_ext sql

In [2]:
%sql sqlite:///../publications.db

'Connected: @../publications.db'

In [3]:
%%sql
select count(*)
from titleauthor

 * sqlite:///../publications.db
Done.

[(25,)]

## Challenge 1 - Who Have Published What At Where?

* AUTHOR_ID - the ID of the author
* LAST_NAME - author last name
* FIRST_NAME - author first name
* TITLE - name of the published title
* PUBLISHER - name of the publisher where the title was published

In [4]:
%%sql
select aut.au_id as AUTHOR_ID, aut.au_lname as LAST_NAME, aut.au_fname as FIRST_NAME, tit.title as TITLE, pub.pub_name as PUBLISHER
from titleauthor ta inner join authors aut on aut.au_id = ta.au_id
                    inner join titles tit on tit.title_id = ta.title_id
                    inner join publishers pub on pub.pub_id = tit.pub_id

 * sqlite:///../publications.db
Done.

[('172-32-1176', 'White', 'Johnson', 'Prolonged Data Deprivation: Four Case Studies', 'New Moon Books'),
 ('213-46-8915', 'Green', 'Marjorie', "The Busy Executive's Database Guide", 'Algodata Infosystems'),
 ('213-46-8915', 'Green', 'Marjorie', 'You Can Combat Computer Stress!', 'New Moon Books'),
 ('238-95-7766', 'Carson', 'Cheryl', 'But Is It User Friendly?', 'Algodata Infosystems'),
 ('267-41-2394', "O'Leary", 'Michael', 'Cooking with Computers: Surreptitious Balance Sheets', 'Algodata Infosystems'),
 ('267-41-2394', "O'Leary", 'Michael', 'Sushi, Anyone?', 'Binnet & Hardley'),
 ('274-80-9391', 'Straight', 'Dean', 'Straight Talk About Computers', 'Algodata Infosystems'),
 ('409-56-7008', 'Bennet', 'Abraham', "The Busy Executive's Database Guide", 'Algodata Infosystems'),
 ('427-17-2319', 'Dull', 'Ann', 'Secrets of Silicon Valley', 'Algodata Infosystems'),
 ('472-27-2349', 'Gringlesby', 'Burt', 'Sushi, Anyone?', 'Binnet & Hardley'),
 ('486-29-1786', 'Locksley', 'Charlene', 'Net Etiquette', 'Algodata Infosystems'),
 ('486-29-1786', 'Locksley', 'Charlene', 'Emotional Security: A New Algorithm', 'New Moon Books'),
 ('648-92-1872', 'Blotchet-Halls', 'Reginald', 'Fifty Years in Buckingham Palace Kitchens', 'Binnet & Hardley'),
 ('672-71-3249', 'Yokomoto', 'Akiko', 'Sushi, Anyone?', 'Binnet & Hardley'),
 ('712-45-1867', 'del Castillo', 'Innes', 'Silicon Valley Gastronomic Treats', 'Binnet & Hardley'),
 ('722-51-5454', 'DeFrance', 'Michel', 'The Gourmet Microwave', 'Binnet & Hardley'),
 ('724-80-9391', 'MacFeather', 'Stearns', 'Cooking with Computers: Surreptitious Balance Sheets', 'Algodata Infosystems'),
 ('724-80-9391', 'MacFeather', 'Stearns', 'Computer Phobic AND Non-Phobic Individuals: Behavior Variations', 'Binnet & Hardley'),
 ('756-30-7391', 'Karsen', 'Livia', 'Computer Phobic AND Non-Phobic Individuals: Behavior Variations', 'Binnet & Hardley'),
 ('807-91-6654', 'Panteley', 'Sylvia', 'Onions, Leeks, and Garlic: Cooking Secrets of the Mediterranean', 'Binnet & Hardley'),
 ('846-92-7186', 'Hunter', 'Sheryl', 'Secrets of Silicon Valley', 'Algodata Infosystems'),
 ('899-46-2035', 'Ringer', 'Anne', 'The Gourmet Microwave', 'Binnet & Hardley'),
 ('899-46-2035', 'Ringer', 'Anne', 'Is Anger the Enemy?', 'New Moon Books'),
 ('998-72-3567', 'Ringer', 'Albert', 'Is Anger the Enemy?', 'New Moon Books'),
 ('998-72-3567', 'Ringer', 'Albert', 'Life Without Fear', 'New Moon Books')]

## Challenge 2 - Who Have Published How Many At Where?

Elevating from your solution in Challenge 1, query how many titles each author has published at each publisher (TITLE COUNT)

In [5]:
%%sql
select aut.au_id as AUTHOR_ID, aut.au_lname as LAST_NAME, aut.au_fname as FIRST_NAME, pub.pub_name as PUBLISHER, count(ta.title_id) as TITLE_COUNT
from titleauthor ta inner join authors aut on aut.au_id = ta.au_id
                    inner join titles tit on tit.title_id = ta.title_id
                    inner join publishers pub on pub.pub_id = tit.pub_id
group by aut.au_id, aut.au_lname, aut.au_fname, pub.pub_name
order by count(ta.title_id) desc, aut.au_id desc

 * sqlite:///../publications.db
Done.

[('998-72-3567', 'Ringer', 'Albert', 'New Moon Books', 2),
 ('899-46-2035', 'Ringer', 'Anne', 'Binnet & Hardley', 1),
 ('899-46-2035', 'Ringer', 'Anne', 'New Moon Books', 1),
 ('846-92-7186', 'Hunter', 'Sheryl', 'Algodata Infosystems', 1),
 ('807-91-6654', 'Panteley', 'Sylvia', 'Binnet & Hardley', 1),
 ('756-30-7391', 'Karsen', 'Livia', 'Binnet & Hardley', 1),
 ('724-80-9391', 'MacFeather', 'Stearns', 'Algodata Infosystems', 1),
 ('724-80-9391', 'MacFeather', 'Stearns', 'Binnet & Hardley', 1),
 ('722-51-5454', 'DeFrance', 'Michel', 'Binnet & Hardley', 1),
 ('712-45-1867', 'del Castillo', 'Innes', 'Binnet & Hardley', 1),
 ('672-71-3249', 'Yokomoto', 'Akiko', 'Binnet & Hardley', 1),
 ('648-92-1872', 'Blotchet-Halls', 'Reginald', 'Binnet & Hardley', 1),
 ('486-29-1786', 'Locksley', 'Charlene', 'Algodata Infosystems', 1),
 ('486-29-1786', 'Locksley', 'Charlene', 'New Moon Books', 1),
 ('472-27-2349', 'Gringlesby', 'Burt', 'Binnet & Hardley', 1),
 ('427-17-2319', 'Dull', 'Ann', 'Algodata Infosystems', 1),
 ('409-56-7008', 'Bennet', 'Abraham', 'Algodata Infosystems', 1),
 ('274-80-9391', 'Straight', 'Dean', 'Algodata Infosystems', 1),
 ('267-41-2394', "O'Leary", 'Michael', 'Algodata Infosystems', 1),
 ('267-41-2394', "O'Leary", 'Michael', 'Binnet & Hardley', 1),
 ('238-95-7766', 'Carson', 'Cheryl', 'Algodata Infosystems', 1),
 ('213-46-8915', 'Green', 'Marjorie', 'Algodata Infosystems', 1),
 ('213-46-8915', 'Green', 'Marjorie', 'New Moon Books', 1),
 ('172-32-1176', 'White', 'Johnson', 'New Moon Books', 1)]

## Challenge 3 - Best Selling Authors

Who are the top 3 authors who have sold the highest number of titles: 
* AUTHOR_ID - the ID of the author
* LAST_NAME - author last name
* FIRST_NAME - author first name
* TOTAL

In [6]:
%%sql
select aut.au_id as AUTHOR_ID, aut.au_lname as LAST_NAME, aut.au_fname as FIRST_NAME, count(ta.title_id) as TOTAL
from authors aut left join titleauthor ta on aut.au_id = ta.au_id
                 left join sales sal on sal.title_id = ta.title_id
group by aut.au_id, aut.au_lname, aut.au_fname
order by count(ta.title_id) desc, aut.au_id desc
limit 3

 * sqlite:///../publications.db
Done.

[('899-46-2035', 'Ringer', 'Anne', 6),
 ('998-72-3567', 'Ringer', 'Albert', 5),
 ('213-46-8915', 'Green', 'Marjorie', 3)]

## Challenge 4 - Best Selling Authors Ranking

In [7]:
%%sql
select aut.au_id as AUTHOR_ID, aut.au_lname as LAST_NAME, aut.au_fname as FIRST_NAME, count(ta.title_id) as TOTAL
from authors aut left join titleauthor ta on aut.au_id = ta.au_id
                 left join sales sal on sal.title_id = ta.title_id
group by aut.au_id, aut.au_lname, aut.au_fname
order by count(ta.title_id) desc, aut.au_id desc

 * sqlite:///../publications.db
Done.

[('899-46-2035', 'Ringer', 'Anne', 6),
 ('998-72-3567', 'Ringer', 'Albert', 5),
 ('213-46-8915', 'Green', 'Marjorie', 3),
 ('724-80-9391', 'MacFeather', 'Stearns', 2),
 ('722-51-5454', 'DeFrance', 'Michel', 2),
 ('486-29-1786', 'Locksley', 'Charlene', 2),
 ('409-56-7008', 'Bennet', 'Abraham', 2),
 ('267-41-2394', "O'Leary", 'Michael', 2),
 ('846-92-7186', 'Hunter', 'Sheryl', 1),
 ('807-91-6654', 'Panteley', 'Sylvia', 1),
 ('756-30-7391', 'Karsen', 'Livia', 1),
 ('712-45-1867', 'del Castillo', 'Innes', 1),
 ('672-71-3249', 'Yokomoto', 'Akiko', 1),
 ('648-92-1872', 'Blotchet-Halls', 'Reginald', 1),
 ('472-27-2349', 'Gringlesby', 'Burt', 1),
 ('427-17-2319', 'Dull', 'Ann', 1),
 ('274-80-9391', 'Straight', 'Dean', 1),
 ('238-95-7766', 'Carson', 'Cheryl', 1),
 ('172-32-1176', 'White', 'Johnson', 1),
 ('893-72-1158', 'McBadden', 'Heather', 0),
 ('724-08-9931', 'Stringer', 'Dirk', 0),
 ('527-72-3246', 'Greene', 'Morningstar', 0),
 ('341-22-1782', 'Smith', 'Meander', 0)]