In [3]:
%load_ext sql

In [4]:
%sql sqlite:///./publications.db

'Connected: @./publications.db'

# Challenge 1 - Who Have Published What At Where?

In this challenge you will write a `SELECT` query that joins various tables to figure out what titles each author has published at which publishers. Your output should have at least the following columns:

* `AUTHOR_ID` - the ID of the author
* `LAST_NAME` - author last name
* `FIRST_NAME` - author first name
* `TITLE` - name of the published title
* `PUBLISHER` - name of the publisher where the title was published

Your output will look something like below:

![Challenge 1 output](challenge-1.png)

*Note: the screenshot above is not the complete output.*

If your query is correct, the total rows in your output should be the same as the total number of records in Table `titleauthor`.

In [7]:
%%sql
select ta.au_id as author_id, aut.au_lname as last_name, aut.au_fname as first_name, 
       tit.title, pub.pub_name as publisher
from titleauthor ta
inner join authors aut on ta.au_id = aut.au_id
inner join titles tit on ta.title_id = tit.title_id
inner join publishers pub on pub.pub_id = tit.pub_id

 * sqlite:///./publications.db
Done.

[('172-32-1176', 'White', 'Johnson', 'Prolonged Data Deprivation: Four Case Studies', 'New Moon Books'),
 ('213-46-8915', 'Green', 'Marjorie', "The Busy Executive's Database Guide", 'Algodata Infosystems'),
 ('213-46-8915', 'Green', 'Marjorie', 'You Can Combat Computer Stress!', 'New Moon Books'),
 ('238-95-7766', 'Carson', 'Cheryl', 'But Is It User Friendly?', 'Algodata Infosystems'),
 ('267-41-2394', "O'Leary", 'Michael', 'Cooking with Computers: Surreptitious Balance Sheets', 'Algodata Infosystems'),
 ('267-41-2394', "O'Leary", 'Michael', 'Sushi, Anyone?', 'Binnet & Hardley'),
 ('274-80-9391', 'Straight', 'Dean', 'Straight Talk About Computers', 'Algodata Infosystems'),
 ('409-56-7008', 'Bennet', 'Abraham', "The Busy Executive's Database Guide", 'Algodata Infosystems'),
 ('427-17-2319', 'Dull', 'Ann', 'Secrets of Silicon Valley', 'Algodata Infosystems'),
 ('472-27-2349', 'Gringlesby', 'Burt', 'Sushi, Anyone?', 'Binnet & Hardley'),
 ('486-29-1786', 'Locksley', 'Charlene', 'Net Etiquette', 'Algodata Infosystems'),
 ('486-29-1786', 'Locksley', 'Charlene', 'Emotional Security: A New Algorithm', 'New Moon Books'),
 ('648-92-1872', 'Blotchet-Halls', 'Reginald', 'Fifty Years in Buckingham Palace Kitchens', 'Binnet & Hardley'),
 ('672-71-3249', 'Yokomoto', 'Akiko', 'Sushi, Anyone?', 'Binnet & Hardley'),
 ('712-45-1867', 'del Castillo', 'Innes', 'Silicon Valley Gastronomic Treats', 'Binnet & Hardley'),
 ('722-51-5454', 'DeFrance', 'Michel', 'The Gourmet Microwave', 'Binnet & Hardley'),
 ('724-80-9391', 'MacFeather', 'Stearns', 'Cooking with Computers: Surreptitious Balance Sheets', 'Algodata Infosystems'),
 ('724-80-9391', 'MacFeather', 'Stearns', 'Computer Phobic AND Non-Phobic Individuals: Behavior Variations', 'Binnet & Hardley'),
 ('756-30-7391', 'Karsen', 'Livia', 'Computer Phobic AND Non-Phobic Individuals: Behavior Variations', 'Binnet & Hardley'),
 ('807-91-6654', 'Panteley', 'Sylvia', 'Onions, Leeks, and Garlic: Cooking Secrets of the Mediterranean', 'Binnet & Hardley'),
 ('846-92-7186', 'Hunter', 'Sheryl', 'Secrets of Silicon Valley', 'Algodata Infosystems'),
 ('899-46-2035', 'Ringer', 'Anne', 'The Gourmet Microwave', 'Binnet & Hardley'),
 ('899-46-2035', 'Ringer', 'Anne', 'Is Anger the Enemy?', 'New Moon Books'),
 ('998-72-3567', 'Ringer', 'Albert', 'Is Anger the Enemy?', 'New Moon Books'),
 ('998-72-3567', 'Ringer', 'Albert', 'Life Without Fear', 'New Moon Books')]

# Challenge 2 - Who Have Published How Many At Where?

Elevating from your solution in Challenge 1, query how many titles each author has published at each publisher. Your output should look something like below:

![Challenge 2 output](challenge-2.png)

*Note: the screenshot above is not the complete output.*

To check if your output is correct, sum up the `TITLE COUNT` column. The sum number should be the same as the total number of records in Table `titleauthor`.

*Hint: In order to count the number of titles published by an author, you need to use [ COUNT](https://cloud.google.com/bigquery/docs/reference/standard-sql/aggregate_functions#count). Also check out [Group By](https://cloud.google.com/bigquery/docs/reference/standard-sql/query-syntax#group-by-clause) because you will count the rows of different groups of data. Refer to the references and learn by yourself. These features will be formally discussed in the Temp Tables and Subqueries lesson.*

In [8]:
%%sql
select ta.au_id as author_id, aut.au_lname as last_name, aut.au_fname as first_name, 
       pub.pub_name as publisher, count(tit.title) as title_count
from titleauthor ta
inner join authors aut on ta.au_id = aut.au_id
inner join titles tit on ta.title_id = tit.title_id
inner join publishers pub on pub.pub_id = tit.pub_id
group by author_id

 * sqlite:///./publications.db
Done.

[('172-32-1176', 'White', 'Johnson', 'New Moon Books', 1),
 ('213-46-8915', 'Green', 'Marjorie', 'Algodata Infosystems', 2),
 ('238-95-7766', 'Carson', 'Cheryl', 'Algodata Infosystems', 1),
 ('267-41-2394', "O'Leary", 'Michael', 'Algodata Infosystems', 2),
 ('274-80-9391', 'Straight', 'Dean', 'Algodata Infosystems', 1),
 ('409-56-7008', 'Bennet', 'Abraham', 'Algodata Infosystems', 1),
 ('427-17-2319', 'Dull', 'Ann', 'Algodata Infosystems', 1),
 ('472-27-2349', 'Gringlesby', 'Burt', 'Binnet & Hardley', 1),
 ('486-29-1786', 'Locksley', 'Charlene', 'Algodata Infosystems', 2),
 ('648-92-1872', 'Blotchet-Halls', 'Reginald', 'Binnet & Hardley', 1),
 ('672-71-3249', 'Yokomoto', 'Akiko', 'Binnet & Hardley', 1),
 ('712-45-1867', 'del Castillo', 'Innes', 'Binnet & Hardley', 1),
 ('722-51-5454', 'DeFrance', 'Michel', 'Binnet & Hardley', 1),
 ('724-80-9391', 'MacFeather', 'Stearns', 'Algodata Infosystems', 2),
 ('756-30-7391', 'Karsen', 'Livia', 'Binnet & Hardley', 1),
 ('807-91-6654', 'Panteley', 'Sylvia', 'Binnet & Hardley', 1),
 ('846-92-7186', 'Hunter', 'Sheryl', 'Algodata Infosystems', 1),
 ('899-46-2035', 'Ringer', 'Anne', 'Binnet & Hardley', 2),
 ('998-72-3567', 'Ringer', 'Albert', 'New Moon Books', 2)]

# Challenge 3 - Best Selling Authors

Who are the top 3 authors who have sold the highest number of titles? Write a query to find out.

Requirements:

* Your output should have the following columns:
	* `AUTHOR_ID` - the ID of the author
	* `LAST_NAME` - author last name
	* `FIRST_NAME` - author first name
	* `TOTAL` - total number of titles sold from this author
* Your output should be ordered based on `TOTAL` from high to low.
* Only output the top 3 best selling authors.

*Hint: In order to calculate the total of profits of an author, you need to use the [SUM function](https://cloud.google.com/bigquery/docs/reference/standard-sql/aggregate_functions#sum). Refer to the reference and learn how to use it.*

In [15]:
%%sql
select ta.au_id as author_id, aut.au_lname as last_name, aut.au_fname as first_name, sum(sal.qty) as total
from titleauthor ta
inner join authors aut on ta.au_id = aut.au_id
inner join sales sal on sal.title_id = ta.title_id
group by author_id
order by total desc
limit 3

 * sqlite:///./publications.db
Done.

[('899-46-2035', 'Ringer', 'Anne', 148),
 ('998-72-3567', 'Ringer', 'Albert', 133),
 ('213-46-8915', 'Green', 'Marjorie', 50)]

# Challenge 4 - Best Selling Authors Ranking

Now modify your solution in Challenge 3 so that the output will display all 23 authors instead of the top 3. Note that the authors who have sold 0 titles should also appear in your output (ideally display `0` instead of `NULL` as the `TOTAL`). Also order your results based on `TOTAL` from high to low.

In [14]:
%%sql

-- # He usado coalesce() para que muestre 0 en lugar de Null

select aut.au_id as author_id, aut.au_lname as last_name, aut.au_fname as first_name, coalesce(sum(sal.qty), 0) as total
from authors aut
left join titleauthor ta on ta.au_id = aut.au_id
left join sales sal on sal.title_id = ta.title_id
group by author_id
order by total desc

 * sqlite:///./publications.db
Done.

[('899-46-2035', 'Ringer', 'Anne', 148),
 ('998-72-3567', 'Ringer', 'Albert', 133),
 ('213-46-8915', 'Green', 'Marjorie', 50),
 ('427-17-2319', 'Dull', 'Ann', 50),
 ('846-92-7186', 'Hunter', 'Sheryl', 50),
 ('267-41-2394', "O'Leary", 'Michael', 45),
 ('724-80-9391', 'MacFeather', 'Stearns', 45),
 ('722-51-5454', 'DeFrance', 'Michel', 40),
 ('807-91-6654', 'Panteley', 'Sylvia', 40),
 ('238-95-7766', 'Carson', 'Cheryl', 30),
 ('486-29-1786', 'Locksley', 'Charlene', 25),
 ('472-27-2349', 'Gringlesby', 'Burt', 20),
 ('648-92-1872', 'Blotchet-Halls', 'Reginald', 20),
 ('672-71-3249', 'Yokomoto', 'Akiko', 20),
 ('756-30-7391', 'Karsen', 'Livia', 20),
 ('172-32-1176', 'White', 'Johnson', 15),
 ('274-80-9391', 'Straight', 'Dean', 15),
 ('409-56-7008', 'Bennet', 'Abraham', 15),
 ('712-45-1867', 'del Castillo', 'Innes', 10),
 ('341-22-1782', 'Smith', 'Meander', 0),
 ('527-72-3246', 'Greene', 'Morningstar', 0),
 ('724-08-9931', 'Stringer', 'Dirk', 0),
 ('893-72-1158', 'McBadden', 'Heather', 0)]

## Bonus Challenge - Most Profiting Authors

Authors earn money from their book sales in two ways: advance and royalties. An advance is the money that the publisher pays the author before the book comes out. The royalties the author will receive is typically a percentage of the entire book sales. The total profit an author receives by publishing a book is the sum of the advance and the royalties.

Given the information above, who are the 3 most profiting authors and how much royalties each of them have received? Write a query to find out.

Requirements:

* Your output should have the following columns:
	* `AUTHOR_ID` - the ID of the author
	* `LAST_NAME` - author last name
	* `FIRST_NAME` - author first name
	* `PROFIT` - total profit the author has received combining the advance and royalties
* Your output should be ordered from higher `PROFIT` values to lower values.
* Only output the top 3 most profiting authors.

*Hints:* 

* If a title has multiple authors, how they split the royalties can be found in the `royaltyper` column of the `titleauthor` table.
* We assume the coauthors will split the advance in the same way as the royalties.

##### UPDATE : ME HE DADO CUENTA DE QUE EN EL PRIMER COMMIT HABÍA INTERPRETADO YTD_SALES COMO LAS GANANCIAS OBTENIDAS POR LAS VENTAS. DEJO AQUÍ EL ENFOQUE ERRÓNEO QUE LE HABÍA DADO EN EL PRIMER COMMIT

In [46]:
%%sql
with profit_table as
(select title_id, round(coalesce(advance + royalty * 0.01 * ytd_sales, 0)) as profit
from titles)

select aut.au_id as author_id, aut.au_lname as last_name, aut.au_fname as first_name,
       round(coalesce(pt.profit * ta.royaltyper * 0.01, 0)) as profit_by_author
from authors aut
left join titleauthor ta on ta.au_id = aut.au_id
left join profit_table pt on ta.title_id = pt.title_id
group by author_id
order by profit_by_author desc
limit 3

 * sqlite:///./publications.db
Done.

[('722-51-5454', 'DeFrance', 'Michel', 15254.0),
 ('238-95-7766', 'Carson', 'Cheryl', 8405.0),
 ('807-91-6654', 'Panteley', 'Sylvia', 7038.0)]

##### A CONTINUACIÓN MUESTRO CÓMO HABRÍA HECHO EL EJERCICIO CORRECTAMENTE DÁNDOLE UN ENFOQUE PERSONAL PASO POR PASO EN LUGAR DE SEGUIR EL ENFOQUE DEL LAB 21, AUNQUE EL RESULTADO SEA EL MISMO

In [15]:
%%sql
-- # Primero sacamos la cantidad vendida por cada título, que añadiremos a la siguiente query
select title_id, sum(qty) as ventas
from sales
group by title_id

 * sqlite:///./publications.db
Done.

[('BU1032', 15),
 ('BU1111', 25),
 ('BU2075', 35),
 ('BU7832', 15),
 ('MC2222', 10),
 ('MC3021', 40),
 ('PC1035', 30),
 ('PC8888', 50),
 ('PS1372', 20),
 ('PS2091', 108),
 ('PS2106', 25),
 ('PS3333', 15),
 ('PS7777', 25),
 ('TC3218', 40),
 ('TC4203', 20),
 ('TC7777', 20)]

In [23]:
%%sql
-- # Ahora sacamos el dinero obtenido multiplicando estas ventas por el precio y la royalty
with tablaventas as (select title_id, coalesce(sum(qty),0) as ventas
from sales
group by title_id)

select ti.*, 
        tv.ventas, 
        coalesce(ti.price * tv.ventas,0) as dineroventas,
        coalesce(ti.price * tv.ventas * ti.royalty * 0.01,0) as dineroroyalty
from titles ti
left join tablaventas tv on tv.title_id = ti.title_id

 * sqlite:///./publications.db
Done.

[('BU1032', "The Busy Executive's Database Guide", 'business', '1389', 19.99, 5000, 10, 4095, 'An overview of available database systems with emphasis on common business applications. Illustrated.', '1991-06-12 00:00:00', 15, 299.84999999999997, 29.984999999999996),
 ('BU1111', 'Cooking with Computers: Surreptitious Balance Sheets', 'business', '1389', 11.95, 5000, 10, 3876, 'Helpful hints on how to use your electronic resources to the best advantage.', '1991-06-09 00:00:00', 25, 298.75, 29.875),
 ('BU2075', 'You Can Combat Computer Stress!', 'business', '0736', 2.99, 10125, 24, 18722, 'The latest medical and psychological techniques for living with the electronic office. Easy-to-understand explanations.', '1991-06-30 00:00:00', 35, 104.65, 25.116000000000003),
 ('BU7832', 'Straight Talk About Computers', 'business', '1389', 19.99, 5000, 10, 4095, 'Annotated analysis of what computers can do for you: a no-hype guide for the critical user.', '1991-06-22 00:00:00', 15, 299.84999999999997, 29.984999999999996),
 ('MC2222', 'Silicon Valley Gastronomic Treats', 'mod_cook', '0877', 19.99, 0, 12, 2032, 'Favorite recipes for quick, easy, and elegant meals.', '1991-06-09 00:00:00', 10, 199.89999999999998, 23.988),
 ('MC3021', 'The Gourmet Microwave', 'mod_cook', '0877', 2.99, 15000, 24, 22246, 'Traditional French gourmet recipes adapted for modern microwave cooking.', '1991-06-18 00:00:00', 40, 119.60000000000001, 28.704),
 ('MC3026', 'The Psychology of Computer Cooking', 'UNDECIDED', '0877', None, None, None, None, None, '2014-11-07 10:39:37', None, 0, 0),
 ('PC1035', 'But Is It User Friendly?', 'popular_comp', '1389', 22.95, 7000, 16, 8780, "A survey of software for the naive user, focusing on the 'friendliness' of each.", '1991-06-30 00:00:00', 30, 688.5, 110.16),
 ('PC8888', 'Secrets of Silicon Valley', 'popular_comp', '1389', 20, 8000, 10, 4095, "Muckraking reporting on the world's largest computer hardware and software manufacturers.", '1994-06-12 00:00:00', 50, 1000, 100.0),
 ('PC9999', 'Net Etiquette', 'popular_comp', '1389', None, None, None, None, 'A must-read for computer conferencing.', '2014-11-07 10:39:37', None, 0, 0),
 ('PS1372', 'Computer Phobic AND Non-Phobic Individuals: Behavior Variations', 'psychology', '0877', 21.59, 7000, 10, 375, "A must for the specialist, this book examines the difference between those who hate and fear computers and those who don't.", '1991-10-21 00:00:00', 20, 431.8, 43.18),
 ('PS2091', 'Is Anger the Enemy?', 'psychology', '0736', 10.95, 2275, 12, 2045, 'Carefully researched study of the effects of strong emotions on the body. Metabolic charts included.', '1991-06-15 00:00:00', 108, 1182.6, 141.912),
 ('PS2106', 'Life Without Fear', 'psychology', '0736', 7, 6000, 10, 111, 'New exercise, meditation, and nutritional techniques that can reduce the shock of daily interactions. Popular audience. Sample menus included, exercise video available separately.', '1991-10-05 00:00:00', 25, 175, 17.5),
 ('PS3333', 'Prolonged Data Deprivation: Four Case Studies', 'psychology', '0736', 19.99, 2000, 10, 4072, 'What happens when the data runs dry?  Searching evaluations of information-shortage effects.', '1991-06-12 00:00:00', 15, 299.84999999999997, 29.984999999999996),
 ('PS7777', 'Emotional Security: A New Algorithm', 'psychology', '0736', 7.99, 4000, 10, 3336, 'Protecting yourself and your loved ones from undue emotional stress in the modern world. Use of computer and nutritional aids emphasized.', '1991-06-12 00:00:00', 25, 199.75, 19.975),
 ('TC3218', 'Onions, Leeks, and Garlic: Cooking Secrets of the Mediterranean', 'trad_cook', '0877', 20.95, 7000, 10, 375, 'Profusely illustrated in color, this makes a wonderful gift book for a cuisine-oriented friend.', '1991-10-21 00:00:00', 40, 838.0, 83.8),
 ('TC4203', 'Fifty Years in Buckingham Palace Kitchens', 'trad_cook', '0877', 11.95, 4000, 14, 15096, "More anecdotes from the Queen's favorite cook describing life among English royalty. Recipes, techniques, tender vignettes.", '1991-06-12 00:00:00', 20, 239.0, 33.46),
 ('TC7777', 'Sushi, Anyone?', 'trad_cook', '0877', 14.99, 8000, 10, 4095, 'Detailed instructions on how to make authentic Japanese sushi in your spare time.', '1991-06-12 00:00:00', 20, 299.8, 29.98)]

In [27]:
%%sql
-- # Ahora añadimos la tabla titleauthor para aplicar el porcentaje a cada autor
with tablaventas as (select title_id, coalesce(sum(qty),0) as ventas
from sales
group by title_id)

select ta.au_id,
        ta.royaltyper,
        ti.title_id, 
        ti.advance,
        coalesce(ti.price * tv.ventas * ti.royalty * 0.01,0) as dineroroyalty
        
from titles ti
left join tablaventas tv on tv.title_id = ti.title_id
left join titleauthor ta on ta.title_id = ti.title_id

 * sqlite:///./publications.db
Done.

[('213-46-8915', 40, 'BU1032', 5000, 29.984999999999996),
 ('409-56-7008', 60, 'BU1032', 5000, 29.984999999999996),
 ('267-41-2394', 40, 'BU1111', 5000, 29.875),
 ('724-80-9391', 60, 'BU1111', 5000, 29.875),
 ('213-46-8915', 100, 'BU2075', 10125, 25.116000000000003),
 ('274-80-9391', 100, 'BU7832', 5000, 29.984999999999996),
 ('712-45-1867', 100, 'MC2222', 0, 23.988),
 ('722-51-5454', 75, 'MC3021', 15000, 28.704),
 ('899-46-2035', 25, 'MC3021', 15000, 28.704),
 (None, None, 'MC3026', None, 0),
 ('238-95-7766', 100, 'PC1035', 7000, 110.16),
 ('427-17-2319', 50, 'PC8888', 8000, 100.0),
 ('846-92-7186', 50, 'PC8888', 8000, 100.0),
 ('486-29-1786', 100, 'PC9999', None, 0),
 ('724-80-9391', 25, 'PS1372', 7000, 43.18),
 ('756-30-7391', 75, 'PS1372', 7000, 43.18),
 ('899-46-2035', 50, 'PS2091', 2275, 141.912),
 ('998-72-3567', 50, 'PS2091', 2275, 141.912),
 ('998-72-3567', 100, 'PS2106', 6000, 17.5),
 ('172-32-1176', 100, 'PS3333', 2000, 29.984999999999996),
 ('486-29-1786', 100, 'PS7777', 4000, 19.975),
 ('807-91-6654', 100, 'TC3218', 7000, 83.8),
 ('648-92-1872', 100, 'TC4203', 4000, 33.46),
 ('267-41-2394', 30, 'TC7777', 8000, 29.98),
 ('472-27-2349', 30, 'TC7777', 8000, 29.98),
 ('672-71-3249', 40, 'TC7777', 8000, 29.98)]

In [33]:
%%sql
-- # Aplicamos la operación final sobre esta tabla
with dinero as (with tablaventas as (select title_id, coalesce(sum(qty),0) as ventas
from sales
group by title_id)

select ta.au_id,
        ta.royaltyper,
        ti.title_id, 
        ti.advance,
        coalesce(ti.price * tv.ventas * ti.royalty * 0.01,0) as dineroroyalty
        
from titles ti
left join tablaventas tv on tv.title_id = ti.title_id
left join titleauthor ta on ta.title_id = ti.title_id)

select au_id, round(coalesce(advance + dineroroyalty * royaltyper * 0.01, 0)) as earnings
from dinero
group by au_id
order by earnings desc

 * sqlite:///./publications.db
Done.

[('722-51-5454', 15022.0),
 ('899-46-2035', 15007.0),
 ('846-92-7186', 8050.0),
 ('427-17-2319', 8050.0),
 ('672-71-3249', 8012.0),
 ('472-27-2349', 8009.0),
 ('238-95-7766', 7110.0),
 ('807-91-6654', 7084.0),
 ('756-30-7391', 7032.0),
 ('274-80-9391', 5030.0),
 ('724-80-9391', 5018.0),
 ('409-56-7008', 5018.0),
 ('267-41-2394', 5012.0),
 ('213-46-8915', 5012.0),
 ('648-92-1872', 4033.0),
 ('998-72-3567', 2346.0),
 ('172-32-1176', 2030.0),
 ('712-45-1867', 24.0),
 ('486-29-1786', 0.0),
 (None, 0.0)]