# Challenge 1

In [2]:
%load_ext sql

In [3]:
%sql sqlite:////Users//samue//Desktop//Bootcamp//lab-sql-select//publications.db

'Connected: @/Users//samue//Desktop//Bootcamp//lab-sql-select//publications.db'

In [ ]:
# cHALLENGE 1

In [45]:
%%sql
select a.au_id as "AUTHOR ID",au_lname as "LAST NAME", au_fname as "FIRST NAME", title as TITLE, pub_name as "PUBLISHERS"
from authors a 
inner join titleauthor ta on a.au_id = ta.au_id
inner join titles t on ta.title_id = t.title_id
inner join publishers p on t.pub_id = p.pub_id
limit 3

 * sqlite:////Users//samue//Desktop//Bootcamp//lab-sql-select//publications.db
Done.

[('172-32-1176', 'White', 'Johnson', 'Prolonged Data Deprivation: Four Case Studies', 'New Moon Books'),
 ('213-46-8915', 'Green', 'Marjorie', "The Busy Executive's Database Guide", 'Algodata Infosystems'),
 ('213-46-8915', 'Green', 'Marjorie', 'You Can Combat Computer Stress!', 'New Moon Books')]

In [ ]:
# CHALLENGE 2

In [53]:
%%sql 
select a.au_id as "AUTHOR ID", au_lname as "LAST NAME", au_fname as "FIRST NAME",pub_name as "PUBLISHER",au_ord as "TITLE COUNT"
from authors a
inner join titleauthor ta on a.au_id = ta.au_id
inner join titles t on ta.title_id = t.title_id
inner join publishers p on t.pub_id = p.pub_id
group by au_lname, au_fname

 * sqlite:////Users//samue//Desktop//Bootcamp//lab-sql-select//publications.db
Done.

[('409-56-7008', 'Bennet', 'Abraham', 'Algodata Infosystems', 1),
 ('648-92-1872', 'Blotchet-Halls', 'Reginald', 'Binnet & Hardley', 1),
 ('238-95-7766', 'Carson', 'Cheryl', 'Algodata Infosystems', 1),
 ('722-51-5454', 'DeFrance', 'Michel', 'Binnet & Hardley', 1),
 ('427-17-2319', 'Dull', 'Ann', 'Algodata Infosystems', 1),
 ('213-46-8915', 'Green', 'Marjorie', 'Algodata Infosystems', 2),
 ('472-27-2349', 'Gringlesby', 'Burt', 'Binnet & Hardley', 3),
 ('846-92-7186', 'Hunter', 'Sheryl', 'Algodata Infosystems', 2),
 ('756-30-7391', 'Karsen', 'Livia', 'Binnet & Hardley', 1),
 ('486-29-1786', 'Locksley', 'Charlene', 'Algodata Infosystems', 1),
 ('724-80-9391', 'MacFeather', 'Stearns', 'Algodata Infosystems', 1),
 ('267-41-2394', "O'Leary", 'Michael', 'Algodata Infosystems', 2),
 ('807-91-6654', 'Panteley', 'Sylvia', 'Binnet & Hardley', 1),
 ('998-72-3567', 'Ringer', 'Albert', 'New Moon Books', 1),
 ('899-46-2035', 'Ringer', 'Anne', 'Binnet & Hardley', 2),
 ('274-80-9391', 'Straight', 'Dean', 'Algodata Infosystems', 1),
 ('172-32-1176', 'White', 'Johnson', 'New Moon Books', 1),
 ('672-71-3249', 'Yokomoto', 'Akiko', 'Binnet & Hardley', 1),
 ('712-45-1867', 'del Castillo', 'Innes', 'Binnet & Hardley', 1)]

In [54]:
# CHALLENGE 3

In [71]:
%%sql
select a.au_id as "AUTHOR ID", au_lname as "LAST NAME", au_fname as "FIRST NAME", sum(qty) as TOTAL
from authors a
inner join titleauthor ta on a.au_id = ta.au_id
inner join titles t on ta.title_id = t.title_id
inner join sales s on t.title_id = s.title_id
group by a.au_id
order by TOTAL desc
limit 3

 * sqlite:////Users//samue//Desktop//Bootcamp//lab-sql-select//publications.db
Done.

[('899-46-2035', 'Ringer', 'Anne', 148),
 ('998-72-3567', 'Ringer', 'Albert', 133),
 ('213-46-8915', 'Green', 'Marjorie', 50)]

In [69]:
# CHALLENGE 4

In [77]:
%%sql
select a.au_id as "AUTHOR ID", au_lname as "LAST NAME", au_fname as "FIRST NAME", COALESCE(sum(s.qty), 0) as TOTAL
from authors a
left join titleauthor ta on ta.au_id = a.au_id
left join titles t on t.title_id = ta.title_id
left join sales s on s.title_id = t.title_id
group by a.au_id
order by TOTAL desc

 * sqlite:////Users//samue//Desktop//Bootcamp//lab-sql-select//publications.db
Done.

[('899-46-2035', 'Ringer', 'Anne', 148),
 ('998-72-3567', 'Ringer', 'Albert', 133),
 ('213-46-8915', 'Green', 'Marjorie', 50),
 ('427-17-2319', 'Dull', 'Ann', 50),
 ('846-92-7186', 'Hunter', 'Sheryl', 50),
 ('267-41-2394', "O'Leary", 'Michael', 45),
 ('724-80-9391', 'MacFeather', 'Stearns', 45),
 ('722-51-5454', 'DeFrance', 'Michel', 40),
 ('807-91-6654', 'Panteley', 'Sylvia', 40),
 ('238-95-7766', 'Carson', 'Cheryl', 30),
 ('486-29-1786', 'Locksley', 'Charlene', 25),
 ('472-27-2349', 'Gringlesby', 'Burt', 20),
 ('648-92-1872', 'Blotchet-Halls', 'Reginald', 20),
 ('672-71-3249', 'Yokomoto', 'Akiko', 20),
 ('756-30-7391', 'Karsen', 'Livia', 20),
 ('172-32-1176', 'White', 'Johnson', 15),
 ('274-80-9391', 'Straight', 'Dean', 15),
 ('409-56-7008', 'Bennet', 'Abraham', 15),
 ('712-45-1867', 'del Castillo', 'Innes', 10),
 ('341-22-1782', 'Smith', 'Meander', 0),
 ('527-72-3246', 'Greene', 'Morningstar', 0),
 ('724-08-9931', 'Stringer', 'Dirk', 0),
 ('893-72-1158', 'McBadden', 'Heather', 0)]